<template lang="pug">

	.course-cart__auth-form
		.course-cart__auth-form-wrap

			.course-cart__auth-form-field(v-for="field in fields", :class="{filled : $store.state.moreInfo.model[field.name], error: $store.state.moreInfo.error[field.name]}")
				.course-cart__auth-form-input
					input(type='text', v-model="$store.state.moreInfo.model[field.name]", @keydown="$store.state.moreInfo.error[field.name] = !1;", v-mask="field.mask")
					.course-cart__auth-form-input-message(v-tooltip.bottom-start="{content: $store.state.moreInfo.error[field.name], show: !!$store.state.moreInfo.error[field.name], trigger: 'manual', classes:[$store.state.moreInfo.error[field.name] ? 'tooltip_error' : '']}")
					.course-cart__auth-form-placeholder: span {{ field.placeholder }}

			.course-cart__auth-form-notice(v-html="note", v-if="note")



</template>

<script>

	import {mapState} from 'vuex'

	export default {
		data () {	
			return {

			}
		},

		mounted (){
		},

		methods: {

		},

		computed: {
			...mapState({
				options: state => state.cart.needMoreOptions,
				note: state => state.cart.needMoreOptions.note_message
			}),

			fields(){
				return this.options ? this.options.fields.map( item => {
					return {
						name: item.name,
						placeholder: item.placeholder,
					}
				}) : []
			}
		},

		watch: {

		},

		components: {

		}
	}
</script>

<style lang="scss">

</style>