<template lang="pug">

	div
		.head(v-if="item.title"): .head__subtitle(v-html="item.title")

		.course-cart__bnr
			.course-cart__bnr-background(v-if="item.background", :style="'background-image:url(' + item.background + ');'")
			.course-cart__bnr-image(v-else, :style="'background-image:url(' + item.image + ');'")
				.course-cart__bnr-action(:style="item.textColor ? 'color: '+item.textColor+'': ''")
					.course-cart__bnr-action-subitle(v-if="item.textSmall", v-html="item.textSmall")
					.course-cart__bnr-action-title(v-if="item.textBig", v-html="item.textBig")
					.course-cart__bnr-action-price(v-if="item.price")
						.course-cart__bnr-action-newprice
							| {{ actualPrice.price | discharge }} руб.
							span(v-if="actualPrice.monthly") /мес
						.course-cart__bnr-action-oldprice(v-if="actualPrice.priceOld")
							| {{ actualPrice.priceOld | discharge }} руб.
							span(v-if="actualPrice.monthly") /мес

			.course-cart__bnr-detail(:style="item.background && item.textColor ? 'color: '+item.textColor+'': ''")
				div
					.course-cart__bnr-name(v-if="item.name", v-html="item.name")

					.course-cart__bnr-spec(v-if="item.period")
						.course-cart__bnr-spec-item(v-if="item.period.start")
							.course-cart__bnr-spec-title Старт:
							.course-cart__bnr-spec-valie {{item.period.start}}
						.course-cart__bnr-spec-item(v-if="item.period.duration")
							.course-cart__bnr-spec-title Продолжительность:
							.course-cart__bnr-spec-valie {{item.period.duration}}

					.course-cart__bnr-text(v-if="item.text", v-html="item.text", :style="item.background && item.textColor ? 'color: '+item.textColor+'': ''")

					.course-cart__bnr-text(v-if="item.stat", :style="item.background && item.textColor ? 'color: '+item.textColor+'': ''")
						.lessons__slide-description-item
							i.ico: include ../img/svg/ico-info-dificult.svg
							span
								| Сложность:&nbsp;
								span(:class="levelParse().color") {{ levelParse().text }}
						.lessons__slide-description-item
							i.ico: include ../img/svg/ico-info-play.svg
							span {{ item.stat.duration }}
						.lessons__slide-description-item
							i.ico: include ../img/svg/ico-info-page.svg
							span {{ item.stat.volume }}

					.course-cart__bnr-option(v-for="option in item.option")
						.course-cart__bnr-option-title(v-if="option.title")
							span(v-html="option.title")
							span.info(v-if="option.tooltip", v-tooltip.bottom-start="option.tooltip") ?

						label.course-cart__bnr-option-item(v-for="input in option.inputs")
							input(type='radio', :name="'banner_name_' + _uid ", @change="inputChange(input)")
							.course-cart__bnr-option-name
								span(v-html="input.name")
								span.info(v-if="input.tooltip", v-tooltip.bottom-start="input.tooltip") ?
							.course-cart__bnr-option-value
								span.price.del(v-if="input.priceOld")
									| {{ input.priceOld | discharge }}  руб.
									span(v-if="input.monthly") /мес.
								span.price
									| {{ input.price | discharge }} руб.
									span(v-if="input.monthly") /мес.

				.course-cart__bnr-footer
					.price(v-if="actualPrice.price")
						| {{ actualPrice.price | discharge }} руб.
						span(v-if="actualPrice.monthly") /мес
					.btn.btn_yellow(:class="{'btn_disable': disableBtn, 'is-loading': loading}", @click="addItem") В&nbsp;корзину


</template>

<script>

	export default {

		props: ['item'],

		data () {	
			return {
				optionId: null,
				partial: null,
				value: null,
				loading: false,
			}
		},

		mounted (){

			/*if ( item.option.length === 1 && item.option[0].inputs.length === 1 ){
				this.inputChange(item.option[0].inputs[0]);
			}*/

		},

		methods: {
			inputChange(input){
				if ( this.optionId !== undefined ) this.optionId = input.id;
				if ( this.partial !== undefined ) this.partial = input.partial;
				if ( this.value !== undefined ) this.value = input.value;
			},

			levelParse(){
				let data = {
					color: '',
					text: '',
				};

				switch (this.item.stat.level) {
					case 'easy' :
						data.color = 'c-green';
						data.text = 'легкий';
						break;
					case 'medium' :
						data.color = 'c-yellow';
						data.text = 'средний';
						break;
					case 'hard' :
						data.color = 'c-red';
						data.text = 'тяжелый';
						break;
				}

				return data;
			},

			addItem(){

				if ( !this.disableBtn ) {

					let data = {};

					this.loading = true;

					data.bunnerId = this.item.id;
					if (this.optionId !== null) data.optionId = this.optionId;
					if (this.partial !== null) data.partial = this.partial;
					if (this.value !== null) data.value = this.value;

					this.$api(
						'addBannerItem',
						data,
						(res)=>{
							if ( res.status === true ){
								this.$store.dispatch('loadProduct');
								this.$store.dispatch('loadBanners');
								this.$store.dispatch('loadGift');
							}
						},
						(err)=>{
							console.error(err);
						},
						()=>{
							this.loading = false;
						}
					);
				}

			},
		},

		computed: {

			disableBtn(){
				return !!this.item.option && !!this.item.option.length && !this.optionId;
			},

			actualPrice(){
				let price = {
					price: this.item.price,
					priceOld: this.item.priceOld,
					monthly: this.item.monthly,
				};

				if ( this.optionId && this.item.option ){

					for (let i = 0; i < this.item.option.length; i++){
						for(let j = 0; j < this.item.option[i].inputs.length; j++){
							if ( this.item.option[i].inputs[j].id === this.optionId ){
								price.price = this.item.option[i].inputs[j].price;
								price.priceOld = this.item.option[i].inputs[j].priceOld;
								price.monthly = this.item.option[i].inputs[j].monthly;
								break;
							}
						}
					}
				}

				return price
			}

		},

		watch: {

		},

		components: {
		},

	}
</script>

<style lang="scss">

</style>