<template lang="pug">
	div
		.head: .head__subtitle Выберите способ оплаты

		.course-cart__payment
			label.course-cart__payment-item(v-for="item in list")
				input(type='radio', :name="'payment_' + _uid", @change="choosePayment(item.id)")
				.course-cart__payment-image: img(:src="item.image")
				.course-cart__payment-name
					| {{ item.name }}&nbsp;&nbsp;
					span.info(v-if="item.tooltip", v-tooltip.bottom-start="item.tooltip") ?



</template>

<script>

	export default {
		data () {	
			return {
				paymentId: null,
				list: []
			}
		},

		mounted (){

			this.loadPayment();
		},

		methods: {
			loadPayment(){
				this.$api(
					'getPaymentList',
					{},
					(res)=>{
						if ( res.payments && res.payments.length ){
							this.list = res.payments;
						}
					},
					(err)=>{
						console.error(err);
					},
				);
			},

			choosePayment(id){

				this.paymentId = id;
				this.$store.commit('setPayment', id);
			}
		},

		computed: {

		},

		watch: {

		},

		components: {

		}
	}
</script>

<style lang="scss">

</style>