<template lang="pug">
	.course-cart__auth(v-if='$store.state.user.status')
		.course-cart__auth-user
			.course-cart__auth-user-photo(v-if="$store.state.user.photo", :style="'background-image:url(' + $store.state.user.photo + '); background-size:cover;'")
			.course-cart__auth-user-photo(v-else-if="$store.state.user.backgroundColor", :style="'background-image:url(../img/svg/ico-user.svg); background-color: ' + $store.state.user.backgroundColor + ';'")
				.course-cart__auth-user-noavatar(v-if="noavatar")
					| Ой, кажется у вас нет аватара. Вы можете добавить его в своём личном кабинете.
					span.close(@click="noavatar = false")
			.course-cart__auth-user-photo(v-else, style='background-image:url(../img/svg/ico-user.svg);')
				.course-cart__auth-user-noavatar(v-if="noavatar")
					| Ой, кажется у вас нет аватара. Вы можете добавить его в своём личном кабинете.
					span.close(@click="noavatar = false")
			.course-cart__auth-user-info
				.course-cart__auth-user-name {{ $store.state.user.name }}
				.course-cart__auth-user-email  {{ $store.state.user.email }}

			.course-cart__auth-user-action: a(href='#', @click.prevent="logOut") Выйти

		UserMore(v-if="$store.state.cart.needMoreInfo && $store.state.cart.needMoreOptions")
		UserGift(v-if="$store.state.gifts.list.length")
	.course-cart__auth(v-else)
		UserLogin
		UserMore(v-if="$store.state.cart.needMoreInfo && $store.state.cart.needMoreOptions")
		UserGift(v-if="$store.state.gifts.list.length")


</template>

<script>


	import UserLogin from "./cart-content__user-login.vue"
	import UserMore from "./cart-content__user-more.vue"
	import UserGift from "./cart-content__user-gift.vue"

	export default {
		data () {	
			return {
				noavatar: true
			}
		},

		mounted (){

		},

		methods: {
			logOut(){
				this.$api(
					'logOut',
					{},
					(res)=>{
						if ( res.status === true ){
							location.reload();
						}
					},
					(err)=>{
						console.error(err);
					},
				);
			},
		},

		computed: {

		},

		watch: {

		},

		components: {
			UserLogin, UserMore, UserGift
		}
	}
</script>

<style lang="scss">

</style>