<template lang="pug">
	.course-cart__body
		User(v-if='$store.state.user.loaded')
		Products(v-if='$store.state.cart.loaded && $store.state.step === 1 && $store.state.cart.products.length')
		Payment(v-if='$store.state.cart.loaded && $store.state.step === 2')
		.loading(v-if="!$store.state.cart.loaded || !$store.state.user.loaded"): include ../img/btn-loader.svg
</template>

<script>

	import User from '../view/cart-content__user.vue'
	import Products from '../view/cart-content__products.vue'
	import Payment from '../view/cart-content__payment.vue'

	export default {
		data () {	
			return {

			}
		},

		mounted (){
			this.$store.dispatch('loadUser');
			this.$store.dispatch('loadGift');
			// this.$store.dispatch('loadProduct');
		},

		methods: {

		},

		computed: {

		},

		watch: {

		},

		components: {
			User,
			Products,
			Payment
		},

	}
</script>

<style lang="scss">

</style>