<template lang="pug">
	.course-cart__order-item(:class="{'course-cart__order-item_gift' : gift, 'course-cart__order-item_option' : item.option}")
		.course-cart__order-note.c-yellow(v-if="gift") Подарок
		.course-cart__order-inner
			.course-cart__order-photo(:style="'background-image:url(' + item.image + ');'")
			.course-cart__order-description
				.course-cart__order-info
					.course-cart__order-title {{ item.title }}
					.course-cart__order-stat(v-if="item.stat")
						.lessons__slide-description-item
							i.ico: include ../img/svg/ico-info-dificult.svg
							span
								| Сложность:&nbsp;
								span(:class="levelParse().color") {{ levelParse().text }}
						.lessons__slide-description-item
							i.ico: include ../img/svg/ico-info-play.svg
							span {{ item.stat.duration }}
						.lessons__slide-description-item
							i.ico: include ../img/svg/ico-info-page.svg
							span {{ item.stat.volume }}

					.course-cart__order-options(v-if="item.option")
						.course-cart__order-option(v-for="(option) in item.option")
							.course-cart__order-option-title(v-if="option.title")
								span(v-html="option.title")
								span.info(v-if="option.tooltip", v-tooltip.bottom-start="option.tooltip") ?

							label.course-cart__order-option-item(v-for="input in option.inputs")
								input(type='radio', :name="input.id + '_' + _uid ", @change="inputChange(input)", :value="input.id", v-model="optionModel")
								.course-cart__order-option-name
									span(v-html="input.name")
									span.info(v-if="input.tooltip", v-tooltip.bottom-start="input.tooltip") ?
								.course-cart__order-option-value
									span.price.del(v-if="input.priceOld")
										| {{ input.priceOld | discharge }}  руб.
										span(v-if="input.monthly") /мес.
									span.price
										| {{ input.price | discharge }} руб.
										span(v-if="input.monthly") /мес.


				.course-cart__order-profit
					span(v-if="item.priceText", v-html="item.priceText")
					.price.del(v-if="item.priceOld") {{ item.priceOld | discharge }} руб.
					.tag.c-green(v-if="item.priceOld") Выгода {{ item.priceOld - item.price | discharge }} руб.
				.course-cart__order-price
					.price.c-green(v-if='!item.price') Бесплатно
					.price(v-else) {{ item.price | discharge }} руб.
					.course-cart__order-remove(v-if="!gift", @click="deleteProduct") Удалить


</template>

<script>

	import {mapState} from "vuex";

	export default {

		props: ['item', 'gift'],

		data () {	
			return {
				optionModel: ''
			}
		},

		computed: {
			...mapState({
				cart: state => state.cart.products,
			}),
		},



		watch: {
			cart(val){
				this.checkModel();
			}
		},


		mounted (){
			this.checkModel();
		},

		methods: {

			checkModel(){
				if ( this.item.option ){
					for (let i = 0; i < this.item.option.length; i++){
						for (let j = 0; j < this.item.option[i].inputs.length; j++){
							if ( this.item.option[i].inputs[j].checked ){
								this.optionModel = this.item.option[i].inputs[j].id;
								break;
							}
						}
					}
				}
			},

			deleteProduct(){
				this.$api(
					'removeProduct',
					{
						id: this.item.id,
						idX: this.item.idX
					},
					(res)=>{
						if ( res.status === true ){
							this.$store.dispatch('loadProduct');
							this.$store.dispatch('loadBanners');
							this.$store.dispatch('loadGift');
						}
					},
					(err)=>{
						console.error(err);
					},
				);
			},

			levelParse(){
				let data = {
					color: '',
					text: '',
				};

				switch (this.item.stat.level) {
					case 'easy' :
						data.color = 'c-green';
						data.text = 'легкий';
						break;
					case 'medium' :
						data.color = 'c-yellow';
						data.text = 'средний';
						break;
					case 'hard' :
						data.color = 'c-red';
						data.text = 'тяжелый';
						break;
				}

				return data;
			},

			inputChange(input){

				this.$api(
					'correctProduct',
					input,
					(res)=>{
						if ( res.status === true ){
							this.$store.dispatch('loadProduct');
							this.$store.dispatch('loadGift');
						}
					},
					(err)=>{
						console.error(err);
					},
				);
			}
		},


		components: {

		}
	}
</script>

<style lang="scss">

</style>