<template lang="pug">

	.cart__list(v-if="$store.state.cart.loaded && $store.state.cart.detail.count > 0")
		template(v-for="(item, index) in $store.state.cart.products")
			div(v-if='item.added && item.added.length')
				ProductItem(:item="item", :key="index")
				ProductItem(v-for="(addedItem, addedIndex) in item.added", :key="index + '_' + addedIndex", :item="addedItem", :gift="true")
			ProductItem(v-else, :item="item", :key="index")

		.cart__result
			.cart__result-info
				.cart__result-name Общая стоимость
				.cart__result-value {{ $store.state.cart.detail.cost - $store.state.cart.detail.discount | discharge }} руб.

	.cart__list(v-else-if="$store.state.cart.loaded && $store.state.cart.detail.count <= 0")
		p Корзина пуста

</template>

<script>
	import ProductItem from './cart-outside__product.vue'

	export default {
		data () {	
			return {

			}
		},

		mounted (){
			this.$store.dispatch('loadProduct');

			if ( !window.loadCartProduct ) {
				window.loadCartProduct = ()=>{
					this.$store.dispatch('loadProduct')
				};
			}
		},

		beforeDestroy(){

		},

		methods: {


		},

		computed: {

		},

		watch: {

		},

		components: {
			ProductItem
		}
	}
</script>

<style lang="scss">

</style>