<template lang="pug">
	.course-cart__stick-product-item(:class="{'course-cart__stick-product-item_gift' : gift, 'course-cart__stick-product-item_option' : item.option }")
		.course-cart__stick-product-image(v-if="!item.option", :style="'background-image:url(' + item.image + ');'")
		.course-cart__stick-product-info(v-if="item.option")
			.course-cart__stick-product-title {{ item.title }}
			.course-cart__order-option(v-for="(option, index) in item.option", v-if="index === optionId")
				.course-cart__order-option-title(v-if="option.title")
					span(v-html="option.title")
					span.info(v-if="option.tooltip", v-tooltip.bottom-start="option.tooltip") ?

				label.course-cart__order-option-item(v-for="input in option.inputs", v-if="input.id === inputId")
					.course-cart__order-option-name.is-checked
						span(v-html="input.name")
						span.info(v-if="input.tooltip", v-tooltip.bottom-start="input.tooltip") ?
					.course-cart__order-option-value
						span.price.del(v-if="input.priceOld")
							| {{ input.priceOld | discharge }}  руб.
							span(v-if="input.monthly") /мес.
						span.price
							| {{ input.price | discharge }} руб.
							span(v-if="input.monthly") /мес.

		.course-cart__stick-product-info(v-else)
			.course-cart__stick-product-title {{ item.title }}
			.course-cart__stick-product-text.del(v-if="item.priceOld") {{ item.priceOld | discharge }} руб.
			.course-cart__stick-product-text(v-if="item.priceText", v-html="item.priceText")
			.course-cart__stick-product-price(v-if="!item.price").c-green Бесплатно
			.course-cart__stick-product-price(v-else) {{ item.price | discharge }} руб.

</template>

<script>

	export default {

		props: ['item', 'gift'],

		data () {
			return {
				optionId: '',
				inputId: '',
			}
		},

		mounted (){

			if ( this.item.option ){
				for (let i = 0; i < this.item.option.length; i++){
					for (let j = 0; j < this.item.option[i].inputs.length; j++){
						if ( this.item.option[i].inputs[j].checked ){
							this.optionId = i;
							this.inputId = this.item.option[i].inputs[j].id;
							break;
						}
					}
				}
			}
		},

		methods: {

		},

		computed: {

		},

		watch: {

		},

		components: {

		}
	}
</script>

<style lang="scss">

</style>