<template lang="pug">
	.course-cart__stick-inner
		.course-cart__stick-title Ваша корзина

		template(v-if="$store.state.cart.loaded && $store.state.cart.detail.count <= 0")
			.course-cart__stick-text Корзина пуста

		template(v-else-if="$store.state.cart.loaded && $store.state.step === 1 && $store.state.cart.detail.count > 0")
			.course-cart__stick-spec
				.course-cart__stick-spec-item
					.course-cart__stick-spec-name {{ $store.state.cart.detail.count }} {{ $store.state.cart.detail.count | declension('курс', 'курса', 'курсов') }}
					.course-cart__stick-spec-value {{ $store.state.cart.detail.cost | discharge }} руб.
				.course-cart__stick-spec-item(v-if="$store.state.cart.detail.discount && $store.state.cart.detail.discount > 0")
					.course-cart__stick-spec-name Скидка по акции
					.course-cart__stick-spec-value.c-green - {{ $store.state.cart.detail.discount | discharge  }} руб.

			hr

			.course-cart__stick-code
				input.course-cart__stick-code-input(placeholder='Промо код', v-model="promoCode", @change="promoCodeError = !1", @keydown="promoCodeError = !1; promoCodeMessage = !1")
				.btn.course-cart__stick-code-submit(@click="activatePromoCode", :class="{'is-loading':promoCodeLoading, 'btn_disable':!promoCode}") Применить
				.course-cart__stick-code-message(v-if="promoCodeMessage", v-html="promoCodeMessage")
				.course-cart__stick-code-error(v-if="promoCodeError", v-html="promoCodeError")

			.course-cart__stick-discount(v-for="discount in $store.state.cart.discounts")
				.course-cart__stick-discount-item
					.course-cart__stick-discount-remove(@click="removeDiscount(discount.id)")
					.course-cart__stick-discount-name {{ discount.name }}
					.course-cart__stick-discount-price - {{discount.value | discharge}} руб.

			hr

			.course-cart__stick-result
				.course-cart__stick-result-name Общая стоимость
				.course-cart__stick-result-value: .price {{ $store.state.cart.detail.cost - $store.state.cart.detail.discount | discharge }} руб.
			.course-cart__stick-btn: .btn.btn_yellow(@click="goToOrder", :class="{'is-loading':stepLoading, 'btn_disable' : !$store.state.user.status}") Перейти к оформлению

		template(v-else-if="$store.state.cart.loaded && $store.state.step === 2 && $store.state.cart.detail.count > 0")
			scrollbar(:maxHeight="'300px'").course-cart__stick-product

				template(v-for="(item, index) in $store.state.cart.products")
					.course-cart__stick-product-group(v-if='item.added && item.added.length')
						ProductItem(:item="item", :key="index")
						ProductItem(v-for="(addedItem, addedIndex) in item.added", :key="index + '_' + addedIndex", :item="addedItem", :gift="true")
					ProductItem(v-else, :item="item", :key="index")


			.course-cart__stick-result
				.course-cart__stick-result-name Общая стоимость
				.course-cart__stick-result-value: .price {{ $store.state.cart.detail.cost - $store.state.cart.detail.discount | discharge }} руб.

			label.course-cart__stick-checkbox
				input(type="checkbox", v-model="politics")
				.course-cart__stick-checkbox-text Я согласен (-а) на обработку персональных данных, принимаю #[a(href="#", onclick="window.app.popup.open('.popup_offer')") условия оферты]

			.course-cart__stick-btn
				.btn.c-yellow(@click="$store.commit('goToStep', $store.state.step - 1)") Назад
				.btn.btn_yellow(@click="goToPay", :class="{'is-loading':stepLoading, 'btn_disable': disablePayment}", v-tooltip="needFillError") Оплатить


</template>

<script>
	import $ from 'jquery'
	import ProductItem from './cart-aside__product.vue'
	import {mapState} from 'vuex'

	export default {
		data () {	
			return {
				promoCode: '',
				promoCodeError: '',
				promoCodeMessage: '',
				promoCodeLoading: false,
				stepLoading: false,
				politics: false,

				needFillError: ''
			}
		},

		mounted (){
			$('body').on('mousedown.promo', ()=>{
				if (!!this.promoCodeMessage) this.promoCodeMessage = false;
				if (!!this.promoCodeError) this.promoCodeError = false;
			})
		},

		beforeDestroy(){
			$('body').off('mousedown.promo')
		},

		methods: {
			removeDiscount(id){
				this.$api(
					'removeDiscount',
					{id:id},
					(res)=>{
						if ( res.status === true ){
							this.$store.dispatch('loadProduct');
							this.$store.dispatch('loadBanners');
						}
					},
					(err)=>{
						console.error(err);
					},
				);
			},

			activatePromoCode(){

				if ( !!this.promoCode ){
					this.promoCodeLoading = true;

					this.promoCodeError = '';

					this.$api(
						'activatePromoCode',
						{promoCode: this.promoCode},
						(res)=>{
							if ( res.status === true ){
								this.$store.dispatch('loadProduct');
								this.$store.dispatch('loadBanners');
							} else if ( res.error ){
								this.promoCodeError = res.error;
							}
						},
						(err)=>{
							console.error(err);
						},
						()=>{
							this.promoCodeLoading = false;
						},
					);
				} else {
					this.promoCodeMessage = 'Заполните поле Промокод'
				}

			},

			goToOrder(){

				if ( !this.$store.state.user.status ) return false;

				this.stepLoading = true;
				this.$api(
					'getOrder',
					{},
					(res)=>{
						if ( res.status === true ){
							this.$store.commit('goToStep', this.$store.state.step + 1);
						}
					},
					(err)=>{
						console.error(err);
					},
					()=>{
						this.stepLoading = false;
					},
				);
			},

			goToPay(){

				if ( !this.disablePayment ){

					let data = this.$store.state.moreInfo.model;

					data.paymentId = this.$store.state.paymentId;
					data.orderId = this.$store.state.cart.detail.orderId;

					if ( this.$store.state.gifts.list ) data.gift = this.$store.state.gifts.model;

					this.stepLoading = true;
					this.$api(
						'getPay',
						data,
						(res)=>{
							if ( res.status === true ){
								if ( res.reloadUrl ) window.location = res.reloadUrl;
								console.info('Так то все замечательно, но я хз что сейчас нужно сделать')
							} else if ( res.errors && res.errors.length ){
								for (let i = 0; i < res.errors.length; i++){
									this.$store.commit('setMoreInfoError', res.errors[i]);
								}
							}
						},
						(err)=>{
							console.error(err);
						},
						()=>{
							this.stepLoading = false;
						},
					);
				}

			}
		},

		computed: {
			...mapState({
				model: state => state.moreInfo.model,
				options: state => state.cart.needMoreOptions,
			}),

			disablePayment(){

				let error = false;
				this.needFillError = '';

				if ( this.$store.state.gifts.list.length && !this.$store.state.gifts.disabled && !this.$store.state.gifts.model ){
					this.needFillError += 'Выберите подарок <br>';
					error = true;
				}

				if ( !this.$store.state.user.status ){
					this.needFillError += 'Авторизуйтесь <br>';
					error = true;
				}

				// if ( !this.$store.getters.isMoreInfo ){
				// 	this.needFillError += 'Заполните данные <br>';
				// 	error = true;
				// }

				if ( this.$store.state.cart.needMoreInfo  && this.$store.state.cart.needMoreOptions ){

					this.options.fields.forEach( item => {

						if ( !this.$store.state.moreInfo.model[item.name] ){
							this.needFillError += `Заполните поле: ${item.placeholder}<br>`;
							error = true;
						}
					});

				}


				if ( !this.politics ){
					this.needFillError += 'Необходимо согласие на обработку персональных данных <br>';
					error = true;
				}

				if ( !this.$store.state.paymentId ){
					this.needFillError += 'Выберите способ оплаты <br>';
					error = true;
				}

				return error;

			},

		},

		watch: {

		},

		components: {
			ProductItem
		}
	}
</script>

<style lang="scss">

</style>