<template lang="pug">
	.cart__item
		.cart__item-image: img.img-fit(:src="item.image")
		.cart__item-info
			.cart__item-title {{ item.title }}
			.cart__item-text.del(v-if="item.priceOld") {{ item.priceOld | discharge }} руб.
			.cart__item-price.c-green(v-if="!item.price") Бесплатно
			.cart__item-price(v-else) {{ item.price | discharge }} руб.
		.cart__item-remove(v-if="!gift", @click="deleteProduct")

</template>

<script>

	export default {

		props: ['item', 'gift'],

		data () {
			return {

			}
		},

		mounted (){

		},

		methods: {
			deleteProduct(){
				this.$api(
					'removeProduct',
					{
						id: this.item.id,
						idX: this.item.idX
					},
					(res)=>{
						if ( res.status === true ){
							this.$store.dispatch('loadProduct');
							this.$store.dispatch('loadBanners');
						}
					},
					(err)=>{
						console.error(err);
					},
				);
			},

		},

		computed: {

		},

		watch: {

		},

		components: {

		}
	}
</script>

<style lang="scss">

</style>