<template lang="pug">
	.course-cart__body(v-if='$store.state.step === 1')

		BannerItem(v-if="$store.state.banners.length", v-for="(banner, index) in $store.state.banners", :item="banner", :key="index")


</template>

<script>

	import BannerItem from './cart-banners__item.vue'

	export default {
		data () {	
			return {
				list: []
			}
		},

		mounted (){
			this.$store.dispatch('loadBanners');
		},

		methods: {

		},

		computed: {

		},

		watch: {

		},

		components: {
			BannerItem
		},

	}
</script>

<style lang="scss">

</style>