<template lang="pug">
	div
		.head: .head__subtitle Состав заказа

		.course-cart__order
			template(v-for="(item, index) in $store.state.cart.products")
				hr(v-if="index > 0 && !$store.state.cart.products[index - 1].added && !$store.state.cart.products[index - 1 ].option")
				.course-cart__order-group(v-if='item.added && item.added.length')
					ProductItem(:item="item", :key="index")
					ProductItem(v-for="(addedItem, addedIndex) in item.added", :key="index + '_' + addedIndex", :item="addedItem", :gift="true")
				ProductItem(v-else, :item="item", :key="index")


</template>

<script>


	import ProductItem from './cart-content__products-item.vue'

	export default {
		data () {	
			return {

			}
		},

		mounted (){

		},

		methods: {

		},

		computed: {

		},

		watch: {

		},

		components: {
			ProductItem
		}
	}
</script>

<style lang="scss">

</style>