<template lang="pug">
	.course-cart__auth-form
		br
		br
		br
		.course-cart__auth-form-title(v-html="title")
		.course-cart__auth-form-wrap
			.course-cart__auth-form-inline(:class="{'is-disabled': disabled}", v-tooltip="disabledMessage")
				.course-cart__auth-form-field(v-for="gift in gifts", :key="gift.id")
					label.course-cart__auth-form-radio
						input(type="radio", :value="gift.value", v-model="$store.state.gifts.model", :disabled="disabled")
						.course-cart__auth-form-label {{ gift.name }}


</template>

<script>

	import {mapState} from "vuex";

	export default {
		data () {	
			return {

			}
		},

		mounted (){
		},


		beforeDestroy(){

		},

		methods: {

		},

		computed: {
			...mapState({
				giftState: state => state.gifts,
				gifts: state => state.gifts.list,
				title: state => state.gifts.title,
				disabled: state => state.gifts.disabled,
				disabledMessage: state => state.gifts.disabledMessage,
			}),

		},

		watch: {

		},

		components: {

		}
	}
</script>

<style lang="scss">

</style>