<template lang="pug">
	.course-cart__auth-form

		.course-cart__auth-form-title Авторизуйтесь на сайте, и мы сможем предложить #[br]вам дополнительные скидки и акции.

		.course-cart__auth-form-box
			.course-cart__auth-form-wrap
				.course-cart__auth-form-field(:class="{filled : model.email, 'success': emailSuccess, 'error': error.email}")
					.course-cart__auth-form-input
						input(type='text', v-model.trim="model.email", @change="emailSuccess = !1", @keydown="onKeyDownEmail", @keyup.enter="emailCheck")
						.course-cart__auth-form-input-btn.btn(@click="emailCheck", :class="{'btn_disable' : !model.email}")
						.course-cart__auth-form-input-message(v-tooltip.bottom-start="{content: error.email || message.email, show: !!error.email || !!message.email, trigger: 'manual', classes:[error.email ? 'tooltip_error' : '']}")
						.course-cart__auth-form-placeholder: span Эл.почта
					scrollbar.course-cart__auth-form-dropdown(v-if="searchEmail.length", :maxHeight="'150px'")
						.course-cart__auth-form-dropdown-inner
							.course-cart__auth-form-dropdown-title Это ваша почта?
							.course-cart__auth-form-dropdown-item(v-for="email in searchEmail", @click="chooseEmail(email)") {{ email }} #[span.hover - Это моя почта]

				.course-cart__auth-form-field.c-yellow(v-if="!emailSuccess && !emailInfo") Укажите вашу почту и следуйте дальнейшим подсказкам.
				.course-cart__auth-form-field.c-green(v-if="emailInfo", v-html="emailInfo")

				template(v-if="emailSuccess && !emailRegister")

					.course-cart__auth-form-field(:class="{filled : model.password, 'error': error.password}")
						.course-cart__auth-form-input
							input(:type="showPassword ? 'text' : 'password'", v-model.trim="model.password", @keydown="error.password = message.password = !1;")
							.course-cart__auth-form-input-btn.eye(@mousedown="showPassword = true", @mouseup="showPassword = false", v-if="!!model.password")
							.course-cart__auth-form-input-message(v-tooltip.bottom-start="{content: error.password || message.password, show: !!message.password || !!error.password, trigger: 'manual', classes: [error.password ? 'tooltip_error' : '']}")
							.course-cart__auth-form-placeholder: span Введите пароль

					.course-cart__auth-form-btn
						.btn.btn_yellow(@click="logIn", :class="{btn_disable : !model.password}")
							span.btn__tooltip(v-if="!model.password && !newUser") Заполните поле пароль
							| {{ !model.password && newUser ? 'Заполните поле пароль' : 'Войти' }}

						.btn.c-yellow(v-if="recovery.overlimit") Превышен допустимый лимит запросов. Попробуйте обратится к администратору
						.btn.c-yellow(v-else-if="recovery.action") Запросить пароль повторно через (отсчёт {{ recovery.time }} сек)
						.btn.c-yellow(@click="emailRecover", v-else) Восстановить пароль

			.course-cart__auth-soc
				.course-cart__auth-soc-title(v-if="emailSuccess") или
				.course-cart__auth-soc-title(v-else) Авторизация через соц.сети
				.course-cart__auth-soc-list
					span.course-cart__auth-soc-item.btn.btn_vk(@click="authSoc('vk')")
					span.course-cart__auth-soc-item.btn.btn_fb(@click="authSoc('fb')")

</template>

<script>

	import $ from 'jquery';
	import _ from 'lodash';

	export default {
		data () {	
			return {

				showPassword: false,

				newUser: false,

				emailSuccess: false,

				emailRegister: false,	// новый пользователь

				fromAuth: false,

				recovery: {
					timer: null,
					action: false,
					overlimit: false,
					time: 60
				},

				emailInfo: '',

				searchEmail: [

				],

				message: {
					email: false,
					password: false,
				},

				error: {
					email: false,
					password: false,
				},

				model: {
					email: '',
					password: '',
				},

				soc: {
					vk: "console.info('авторизация через vk')",
					fb: "console.info('авторизация через fb')",
				}
			}
		},

		mounted (){
			this.parseSocAuth();

			$('body').on('mousedown.login', (e)=>{
				if (!!this.message.email) this.message.email = false;
				if (!!this.error.email) this.error.email = false;
				if (this.searchEmail.length && !$(e.target).closest('.course-cart__auth-form-dropdown').length ) this.searchEmail = [];
			});

			if ( this.$store.state.user.email) {
				this.model.email = this.$store.state.user.email;
				this.emailSuccess = true;
			}
		},


		beforeDestroy(){
			$('body').off('mousedown.login')
		},

		methods: {

			parseSocAuth(){
				let that = this;
				$('.popup__auth-soc-item_vk').each(function () {
					let $t = $(this);
					if ( $t.attr('onclick') ){
						that.soc.vk = $t.attr('onclick');
					}
				});
				$('.popup__auth-soc-item_fb').each(function () {
					let $t = $(this);
					if ( $t.attr('onclick') ){
						that.soc.fb = $t.attr('onclick');
					}
				});
			},

			authSoc(type){
				try{
					eval(this.soc[type]);
				} catch (e){
					console.error(e);
				}
			},

			chooseEmail(email){
				this.model.email = email;
				this.searchEmail = [];
			},

			clearAllNotice(){
				this.message.email = false;
				this.message.password = false;
				this.error.email = false;
				this.error.password = false;
				this.searchEmail = [];
			},

			onKeyDownEmail: _.debounce(function(e){
				this.searchEmail = [];
				this.emailSuccess = false;
				this.emailInfo = false;
				this.emailRegister = false;

				console.info(e);

				if (!!this.model.email && e.keyCode !== 13){

					this.$api(
						'emailSearch',
						{email: this.model.email},
						(res)=>{
							if ( res.list && res.list.length ){
								this.searchEmail = res.list;
							} else {
								this.searchEmail = [];
							}
						},
						(err)=>{
							console.error(err);
						},
					);
				}

			}, 300),

			emailCheck(){

				this.clearAllNotice();
				this.emailSuccess = false;
				this.emailRegister = false;
				this.emailInfo = false;
				this.newUser = false;
				this.recovery.overlimit = false;

				let reg = /^[-._a-z0-9а-я]+@(?:[a-z0-9а-я][-a-z0-9а-я]+\.)+[a-zа-я]{2,6}$/i
				;

				if ( !this.model.email ){
					this.message.email = 'Заполните поле E-mail';
				} else if ( !reg.test(this.model.email) ){
					this.message.email = 'Email указан некорректно. В состав обязательно входит символ "@" и присутствует доменная зона (например ".ru")';
				} else {
					this.$api(
						'emailCheck',
						{email: this.model.email},
						(res)=>{
							if ( res.status === true ){
								this.emailSuccess = true;
							} else if (res.error) {
								this.error.email = res.error;
							}

							if ( res.correct ) this.model.email = res.correct;
							if ( res.register ) this.emailRegister = res.register;
							if ( res.emailInfo ) this.emailInfo = res.emailInfo;
							if ( res.overlimit ) this.recovery.overlimit = true;
							if ( res.newUser ) {
								this.newUser = res.newUser;
								this.startRecoveryTimer();
							}


							this.searchEmail = [];
						},
						(err)=>{
							console.error(err);
						},
					);
				}

			},

			logIn(){

				this.clearAllNotice();

				if ( !this.model.password ){
					this.message.password = 'Введите пароль';
				} else {
					this.$api(
						'logIn',{
							email: this.model.email,
							password: this.model.password,
						},
						(res)=>{
							if ( res.status === true ){
								location.reload();
							} else if ( res.error ){
								this.error.password = res.error
							} else if ( res.errors && res.errors.length ){
								for (let i = 0; i < res.errors.length; i++){
									if ( this.error[res.errors[i].name] !== undefined ){
										this.error[res.errors[i].name] = res.errors[i].text;
									}
								}
							}
						},
						(err)=>{
							console.error(err);
						},
					);
				}

			},

			emailRecover(){

				this.clearAllNotice();

				this.$api(
					'emailRecover',
					{email: this.model.email},
					(res)=>{
						if ( res.status === true ){

						}

						if ( res.message ){
							let html = `<div class="popup__title">Востановление пароля</div><div class="popup__text"><p>${res.message}</p></div><div class="popup__btn"><div data-popup-close=".popup" class="btn btn_yellow">Вернуться в корзину</div></div>`;

							try {
								window.app.popup.create('.popup_info', )
							} catch (e){}

							window.app.popup.open('.popup_info', html)

						}
						
						if ( res.overlimit ) this.recovery.overlimit = true;
					},
					(err)=>{
						console.error(err);
					},
				);

			},

			startRecoveryTimer(){
				this.recovery.action = true;
				this.recovery.timer = setInterval(()=>{
					this.recovery.time -= 1;

					if ( this.recovery.time <= 0){
						this.stopRecoveryTimer();
					}
				}, 1000);
			},

			stopRecoveryTimer(){
				try { clearInterval(this.recovery.timer)} catch (e) {}
				this.recovery.time = 60;
				this.recovery.action = false;
			}
		},

		computed: {

		},

		watch: {

		},

		components: {

		}
	}
</script>

<style lang="scss">

</style>