extends layout/template

block vars
	- var pageName = "base";
	- var pageTitle = "Home";
	- var pageDescription = pageName;
	- var pageImage = "/img.jpg";
	- var pageUrl = "{{page url}}";
	- var auth = true;
	- var add_class = 'website_bg';

block head

block content
	.breadcrumbs
		.inner
			a(href='#').breadcrumbs-item Главная
			a(href='#').breadcrumbs-item Корзина

	.head
		.inner
			.head__title Корзина
			.head__subtitle Авторизация

	section.course-cart
		.sticky-frame
			.inner
				.course-cart__body
					.course-cart__auth
						.course-cart__auth-user
							.course-cart__auth-user-photo(style='background-image:url(../img/svg/ico-user.svg);')
							.course-cart__auth-user-info
								.course-cart__auth-user-name Дуся Антонова
								.course-cart__auth-user-email pochta@pochta.ru

							.course-cart__auth-user-action: a(href='#') Выйти

					.course-cart__auth
						.course-cart__auth-form
							.course-cart__auth-form-title Авторизуйтесь на сайте, и мы сможем предложить #[br]вам дополнительные скидки и акции.

							.course-cart__auth-form-box
								.course-cart__auth-form-wrap
									.course-cart__auth-form-field
										.course-cart__auth-form-input
											input(type='text')
											.course-cart__auth-form-input-btn
											.course-cart__auth-form-placeholder: span Эл.почта

									.course-cart__auth-form-field.c-yellow Укажите вашу почту и следуйте дальнейшим подсказкам.

									.course-cart__auth-form-field
										.course-cart__auth-form-input
											input(type='password', value='')
											.course-cart__auth-form-placeholder: span Введите пароль

									.course-cart__auth-form-btn
										.btn.btn_yellow Войти
										.btn.c-yellow Восстановить пароль

								.course-cart__auth-soc
									.course-cart__auth-soc-title Авторизация через соц.сети
									.course-cart__auth-soc-list
										a(href='#').course-cart__auth-soc-item.btn.btn_vk
										a(href='#').course-cart__auth-soc-item.btn.btn_fb

							.course-cart__auth-form-wrap
								.course-cart__auth-form-field
									.course-cart__auth-form-input
										input(type='text')
										.course-cart__auth-form-placeholder: span Имя и Фамилия

								.course-cart__auth-form-field
									.course-cart__auth-form-input
										input(type='text')
										.course-cart__auth-form-placeholder: span Телефон

								.course-cart__auth-form-field
									.course-cart__auth-form-input
										input(type='text')
										.course-cart__auth-form-placeholder: span Ваша страничка в Instagram

								.course-cart__auth-form-field
									.course-cart__auth-form-input
										input(type='text')
										.course-cart__auth-form-placeholder: span Адрес (куда отправить ваш сертификат)

								.course-cart__auth-form-notice Заполняйте поля корректно! Эти данные мы будем использовать для ваших сертификатов и для включения в чат WhatsApp



					.head: .head__subtitle Выберите способ оплаты

					.course-cart__payment
						label.course-cart__payment-item
							input(type='radio', name='p1')
							.course-cart__payment-image: img(src='../img/payment/card.png')
							.course-cart__payment-name Банковской картой #[span.info ?]
						label.course-cart__payment-item
							input(type='radio', name='p1')
							.course-cart__payment-image: img(src='../img/payment/yandex.png')
							.course-cart__payment-name Оплата в платежной системе «Яндекс.Деньги» #[span.info ?]
						label.course-cart__payment-item
							input(type='radio', name='p1')
							.course-cart__payment-image: img(src='../img/payment/webmoney.png')
							.course-cart__payment-name Оплата в платежной системе Web Money #[span.info ?]
						label.course-cart__payment-item
							input(type='radio', name='p1')
							.course-cart__payment-image: img(src='../img/payment/qiwi.png')
							.course-cart__payment-name Оплата в платежной системе Qiwi wallet #[span.info ?]
						label.course-cart__payment-item
							input(type='radio', name='p1')
							.course-cart__payment-image: img(src='../img/payment/alfa.png')
							.course-cart__payment-name Оплата через Альфа-Клик #[span.info ?]
						label.course-cart__payment-item
							input(type='radio', name='p1')
							.course-cart__payment-image: img(src='../img/payment/cash.png')
							.course-cart__payment-name Наличными через терминал #[span.info ?]
						label.course-cart__payment-item
							input(type='radio', name='p1')
							.course-cart__payment-image: img(src='../img/payment/psb.png')
							.course-cart__payment-name Интернет-банкинг Промсвязьбанка #[span.info ?]


					.head: .head__subtitle Состав заказа

					.course-cart__order
						.course-cart__order-group
							.course-cart__order-item
								.course-cart__order-inner
									.course-cart__order-photo(style='background-image:url(https://via.placeholder.com/400x300/43515e/43515e);')
									.course-cart__order-description
										.course-cart__order-info
											.course-cart__order-title ФУД-ФОТО ДЛЯ КОНДИТЕРА
											.course-cart__order-stat
												.lessons__slide-description-item
													i.ico: include ../img/svg/ico-info-dificult.svg
													span Сложность: #[span.c-yellow средний]
												.lessons__slide-description-item
													i.ico: include ../img/svg/ico-info-play.svg
													span 100 минут
												.lessons__slide-description-item
													i.ico: include ../img/svg/ico-info-page.svg
													span 40 страниц
										.course-cart__order-profit
											.price.del 4 590 руб.
											.tag.c-green Выгода 4 590 руб.
										.course-cart__order-price
											.price 3 590 руб.
											.course-cart__order-remove Удалить

							.course-cart__order-item.course-cart__order-item_gift
								.course-cart__order-note.c-yellow Подарок к курсу
								.course-cart__order-inner
									.course-cart__order-photo(style='background-image:url(https://via.placeholder.com/400x300/43515e/43515e);')
									.course-cart__order-description
										.course-cart__order-info
											.course-cart__order-title Манго
											.course-cart__order-stat
												.lessons__slide-description-item
													i.ico: include ../img/svg/ico-info-dificult.svg
													span Сложность: #[span.c-yellow средний]
												.lessons__slide-description-item
													i.ico: include ../img/svg/ico-info-play.svg
													span 100 минут
												.lessons__slide-description-item
													i.ico: include ../img/svg/ico-info-page.svg
													span 40 страниц
										.course-cart__order-profit
											.price.del 4 590 руб.
											.tag.c-green Выгода 4 590 руб.
										.course-cart__order-price
											.price.c-green Бесплатно

						.course-cart__order-item
							.course-cart__order-inner
								.course-cart__order-photo(style='background-image:url(https://via.placeholder.com/400x300/43515e/43515e);')
								.course-cart__order-description
									.course-cart__order-info
										.course-cart__order-title База знаний
										.course-cart__order-stat
											.lessons__slide-description-item
												i.ico: include ../img/svg/ico-info-dificult.svg
												span Сложность: #[span.c-yellow средний]
											.lessons__slide-description-item
												i.ico: include ../img/svg/ico-info-play.svg
												span 100 минут
											.lessons__slide-description-item
												i.ico: include ../img/svg/ico-info-page.svg
												span 40 страниц
									.course-cart__order-profit
										| Подписка на&nbsp;1&nbsp;месяц
									.course-cart__order-price
										.price 290 руб.
										.course-cart__order-remove Удалить

						hr
						.course-cart__order-item
							.course-cart__order-inner
								.course-cart__order-photo(style='background-image:url(https://via.placeholder.com/400x300/43515e/43515e);')
								.course-cart__order-description
									.course-cart__order-info
										.course-cart__order-title Кондитер 2.0
										.course-cart__order-stat
											.lessons__slide-description-item
												i.ico: include ../img/svg/ico-info-dificult.svg
												span Сложность: #[span.c-yellow средний]
											.lessons__slide-description-item
												i.ico: include ../img/svg/ico-info-play.svg
												span 100 минут
											.lessons__slide-description-item
												i.ico: include ../img/svg/ico-info-page.svg
												span 40 страниц
									.course-cart__order-profit
										| Тариф стандарт
									.course-cart__order-price
										.price 17 900 руб.
										.course-cart__order-remove Удалить

				.course-cart__aside.sticky-target
					.course-cart__stick.sticky-inner
						.course-cart__stick-inner
							.course-cart__stick-title Ваша корзина

							.course-cart__stick-product

								.course-cart__stick-product-group
									.course-cart__stick-product-item
										.course-cart__stick-product-image: +img(100, 80, '')
										.course-cart__stick-product-info
											.course-cart__stick-product-title ФУД-ФОТО ДЛЯ КОНДИТЕРА
											.course-cart__stick-product-text.del 4 590 руб.
											.course-cart__stick-product-price 3 590 руб.

									.course-cart__stick-product-item.course-cart__stick-product-item_gift
										.course-cart__stick-product-image: +img(100, 80, '')
										.course-cart__stick-product-info
											.course-cart__stick-product-title Манго
											.course-cart__stick-product-text.del 4 590 руб.
											.course-cart__stick-product-price.c-green Бесплатно

								.course-cart__stick-product-item
									.course-cart__stick-product-image: +img(100, 80, '')
									.course-cart__stick-product-info
										.course-cart__stick-product-title База знаний
										.course-cart__stick-product-text Подписка на 1 месяц
										.course-cart__stick-product-price 290 руб.

							hr
							.course-cart__stick-spec
								.course-cart__stick-spec-item
									.course-cart__stick-spec-name 2 курса
									.course-cart__stick-spec-value 2 360 руб.
								.course-cart__stick-spec-item
									.course-cart__stick-spec-name Скидка по акции
									.course-cart__stick-spec-value.c-green - 250 руб.
							hr
							.course-cart__stick-code
								input.course-cart__stick-code-input(placeholder='Промо код')
								.course-cart__stick-code-submit Применить

							hr
							.course-cart__stick-discount
								.course-cart__stick-discount-item
									.course-cart__stick-discount-remove
									.course-cart__stick-discount-name Мегакурс20CAKE
									.course-cart__stick-discount-price - 250 руб.
								.course-cart__stick-discount-item
									.course-cart__stick-discount-remove
									.course-cart__stick-discount-name Скидка на курс "Земляника со сливками"
									.course-cart__stick-discount-price - 2 250 руб.

							.course-cart__stick-result
								.course-cart__stick-result-name Общая стоимость
								.course-cart__stick-result-value: .price 2 280 руб.
							.course-cart__stick-btn: .btn.btn_yellow Перейти к оформлению


				.course-cart__body

					//- первый баннер
					.head: .head__subtitle Бонус за регистрацию на сайте
					.course-cart__bnr
						.course-cart__bnr-background(style='background-image:url(https://via.placeholder.com/400x300/43515e/43515e);')
							//-+img(400, 300, '', '43515e', '43515e')
						.course-cart__bnr-detail.c-white
							div
								.course-cart__bnr-name #[span.c-yellow Курс за 10 рублей:] CAKE-POPS
								.course-cart__bnr-text.c-white
									.lessons__slide-description-item
										i.ico: include ../img/svg/ico-info-dificult.svg
										span Сложность: #[span.c-yellow средний]
									.lessons__slide-description-item
										i.ico: include ../img/svg/ico-info-play.svg
										span 100 минут
									.lessons__slide-description-item
										i.ico: include ../img/svg/ico-info-page.svg
										span 40 страниц
							.course-cart__bnr-footer
								.price 10 руб.
								br
								.btn.btn_yellow В&nbsp;корзину

					//- второй баннер
					.head: .head__subtitle Специальная цена на Базу знаний!
					.course-cart__bnr
						.course-cart__bnr-image(style='background-image:url(https://via.placeholder.com/400x300/e8a082/e8a082);')
							//-+img(400, 300, '', 'e8a082', 'e8a082')
							.course-cart__bnr-action.c-white
								.course-cart__bnr-action-subitle Цена только
								.course-cart__bnr-action-title в корзине
								.course-cart__bnr-action-price
									.course-cart__bnr-action-newprice 290 руб.#[span /мес]
									.course-cart__bnr-action-oldprice 490 руб./мес

						.course-cart__bnr-detail
							.course-cart__bnr-name База знаний
							.course-cart__bnr-text Всего за 12 рублей вы получаете доступ к библиотеке, в которой собрано более 1000 полезных статей на кондитерскую тему. Каждую неделю мы пополняем Базу новыми крутыми статьями.
							.course-cart__bnr-footer
								.price 290 руб./#[span мес]
								.btn.btn_yellow В&nbsp;корзину

					//- третий баннер
					.head: .head__subtitle Специальная цена на Базу знаний!
					.course-cart__bnr
						.course-cart__bnr-image(style='background-image:url(https://via.placeholder.com/400x300/e8a082/e8a082);')
							//+img(400, 300, '', 'e8a082', 'e8a082')
							.course-cart__bnr-action.c-white
								.course-cart__bnr-action-subitle Цена только
								.course-cart__bnr-action-title в корзине
								.course-cart__bnr-action-price
									.course-cart__bnr-action-newprice 290 руб.#[span /мес]
									.course-cart__bnr-action-oldprice 490 руб./мес

						.course-cart__bnr-detail
							.course-cart__bnr-name База знаний
							.course-cart__bnr-text Всего за 12 рублей вы получаете доступ к библиотеке, в которой собрано более 1000 полезных статей на кондитерскую тему. Каждую неделю мы пополняем Базу новыми крутыми статьями.
							.course-cart__bnr-option
								label.course-cart__bnr-option-item
									input(type='radio', name='q1')
									.course-cart__bnr-option-name Подписка на 1 месяц #[span.info ?]
									.course-cart__bnr-option-value
										span.price.del 490 руб.
										span.price 290 руб.
								label.course-cart__bnr-option-item
									input(type='radio', name='q1')
									.course-cart__bnr-option-name Подписка на 1 год #[span.info ?]
									.course-cart__bnr-option-value
										span.price.del 4 290 руб.
										span.price 3 290 руб.

							.course-cart__bnr-footer
								.btn.btn_yellow В&nbsp;корзину

					//- четвертый баннер
					.head: .head__subtitle Скидка! Кондитер 2.0
					.course-cart__bnr
						.course-cart__bnr-image(style='background-image:url(https://via.placeholder.com/400x300/dedbdc/dedbdc);')
							//-+img(400, 300, '', 'dedbdc', 'dedbdc')
							.course-cart__bnr-action
								.course-cart__bnr-action-subitle Цена только
								.course-cart__bnr-action-title в корзине
								.course-cart__bnr-action-price
									.course-cart__bnr-action-newprice 5 967 руб.#[span /мес]
									.course-cart__bnr-action-oldprice 8 200 руб./мес

						.course-cart__bnr-detail
							.course-cart__bnr-name Кондитер 2.0
							.course-cart__bnr-spec
								.course-cart__bnr-spec-item
									.course-cart__bnr-spec-title Старт:
									.course-cart__bnr-spec-valie 11 февраля 2019
								.course-cart__bnr-spec-item
									.course-cart__bnr-spec-title Продолжительность:
									.course-cart__bnr-spec-valie 14 недель

							.course-cart__bnr-option
								.course-cart__bnr-option-title Тариф: #[span.c-yellow Стандарт] #[span.info ?]
								label.course-cart__bnr-option-item
									input(type='radio', name='q1')
									.course-cart__bnr-option-name Оплатить сразу
									.course-cart__bnr-option-value
										span.price.del 24 620 руб.
										span.price 17 900 руб.
								label.course-cart__bnr-option-item
									input(type='radio', name='q1')
									.course-cart__bnr-option-name В рассрочку
									.course-cart__bnr-option-value
										span.price.del 8 200 руб.
										span.price 5 967 руб.

							.course-cart__bnr-option
								.course-cart__bnr-option-title Тариф: #[span.c-yellow Бизнес] #[span.info ?]
								label.course-cart__bnr-option-item
									input(type='radio', name='q1')
									.course-cart__bnr-option-name Оплатить сразу
									.course-cart__bnr-option-value
										span.price.del 24 620 руб.
										span.price 17 900 руб.
								label.course-cart__bnr-option-item
									input(type='radio', name='q1')
									.course-cart__bnr-option-name В рассрочку
									.course-cart__bnr-option-value
										span.price.del 8 200 руб.
										span.price 5 967 руб.

							.course-cart__bnr-footer
								.btn.btn_yellow В&nbsp;корзину





block append
