extends layout/template

block vars
	- var pageName = "base";
	- var pageTitle = "Home";
	- var pageDescription = pageName;
	- var pageImage = "/img.jpg";
	- var pageUrl = "{{page url}}";
	- var auth = true;
	- var add_class = 'website_bg';

block head
	script.
		window.cartApi = 'http://alinamakarova.maestros.ru/data/cart.php'
block content
	.breadcrumbs
		.inner
			a(href='#').breadcrumbs-item Главная
			a(href='#').breadcrumbs-item Корзина

	.head
		.inner
			.head__title Корзина
			.head__subtitle Авторизация

	section.course-cart
		.sticky-frame
			.inner
				#cartContent
				.course-cart__aside.sticky-target
					.course-cart__stick.sticky-inner
						#cartAside
				#cartBanners

block append
	.popup.popup_offer
		.popup__overlay
		.popup__inner
			.popup__layout
				.popup__close
				.popup__content
					.popup__title Условия оферты
					.popup__text
						h2 1. ТЕРМИНЫ И ОПРЕДЕЛЕНИЯ
						p 1.1. Интернет-магазин (Сайт) — торговая площадка Продавца, расположенная в сети интернет по адресу www.sc-store.ru, на которой осуществляется продажа товаров дистанционным способом.
						p 1.2. Заказ — должным образом оформленный запрос Покупателя Продавцу на заключение договора розничной купли-продажи Товаров.
						p 1.3. Продавец — Общество с ограниченной ответственностью «реСтор».
						p ОГРН 1067746613065
						p Юридический адрес: 105066, г. Москва, ул. Спартаковская, д.23
						p Фактический/Почтовый адрес: 105066, г. Москва, ул. Спартаковская, д.23
						p 1.4. Покупатель (Клиент) — посетитель Сайта, разместивший Заказ в Интернет-магазине.
						p 1.5. Товар — товар, представленный к продаже на Сайте.
						p 1.6. Служба доставки — третье лицо, оказывающее по договору с Продавцом услуги по доставке заказов клиентам.
						p 1.7. Акция — мероприятие, направленное на увеличение объемов продаж, привлечение внимания потребителей к продукции, проводимое в соответствии с правилами, размещенными на Сайте, и ограниченное по срокам проведения.
						h2 2. ОБЩИЕ ПОЛОЖЕНИЯ
						p 2.1. Настоящее предложение, а также информация о товаре, представленная на сайте, являются публичной офертой в соответствии со ст.435 и ч.2 ст.437 ГК РФ.
						p 2.2. К отношениям между покупателем (клиентом) и продавцом применяются положения ГК РФ о розничной купле-продаже (§ 2 глава 30), а также Закона РФ от 07.02.1992 N 2300-1 «О защите прав потребителей» и Постановления Правительства РФ от 27.09.2007 N 612 «Об утверждении Правил продажи товаров дистанционным способом» и иные правовые акты, принятые в соответствии с ними.
						p 2.3. Продавец осуществляет продажу Товаров через Интернет-магазин любому Покупателю, оформившему Заказ на условиях настоящей оферты.
						p 2.4. Настоящая оферта считается принятой Покупателем с момента оформления первого Заказа на Сайте (с использованием регистрации на Сайте в качестве постоянного покупателя Продавца либо без таковой регистрации, в том числе при оформлении Заказа через оператора).
						p 2.5. Договор розничной купли-продажи считается заключенным с момента выдачи Продавцом Покупателю кассового или товарного чека либо иного документа, подтверждающего оплату товара.
						h2 3. РЕГИСТРАЦИЯ НА САЙТЕ И ОФОРМЛЕНИЕ ЗАКАЗА
						p 3.1. Заказ может быть оформлен Клиентом через оператора по телефону или самостоятельно через форму Заказа на Сайте.
						p 3.2. Регистрация на Сайте не является обязательной для оформления Заказа. Покупатель может по собственному желанию пройти процедуру регистрации на Сайте для доступа к дополнительным опциям личного кабинета (история и отслеживание заказов, получение сведений об Акциях Продавца и пр.).
						p 3.3. При регистрации на сайте клиент предоставляет в обязательном порядке информацию о себе: имя, адрес электронной почты и пароль для доступа к Сайту, иные сведения указываются на усмотрение Покупателя.
						p 3.4. Продавец не несет ответственность за точность и правильность информации, предоставляемой клиентом при регистрации на Сайте и/или оформлении Заказа.
						p 3.5. Клиент обязуется не сообщать третьим лицам логин и пароль, указанные при регистрации на Сайте. В случае возникновения у клиента подозрений относительно безопасности его логина и пароля или возможности их несанкционированного использования третьими лицами, клиент обязуется незамедлительно уведомить об этом Продавца, направив сообщение в разделе «Обратная связь».
						p 3.6. После оформления заказа клиенту предоставляется информация об ожидаемой дате передачи заказа в службу доставки. Указанная дата зависит от наличия заказанных товаров на складе Продавца и времени, необходимого на обработку заказа и правил службы доставки. Ожидаемая дата передачи Заказа в Службу доставки сообщается Покупателю по электронной почте или при звонке Покупателю. При своем несогласии с планируемой датой доставки Покупатель должен уведомить Продавца об аннулировании Заказа.
						p 3.7. Если Товар, заказанный Покупателем, отсутствует в наличии у Продавца, Заказ в отношении данного Товара аннулируется, о чем Покупатель уведомляется посредством информационного сообщения по электронному адресу, указанному при регистрации, либо на телефонный номер Клиента либо звонком оператора.
						p 3.8. Территория доставки Товаров, представленных на Сайте, ограничена пределами Российской Федерации и может быть ограничена для отдельных видов Товаров в том числе отдельными регионами.
						p 3.9. Продавец вправе аннулировать Заказы Клиента при наличии оснований полагать, что Клиент не намерен осуществить покупку Товара либо указал недостоверные сведения (у Клиента уже оформлены и не получены другие заказы на общую сумму от 50 000 рублей, три раза и более Клиент отказывался получать Товары по размещенному Заказу по причинам, не связанным с наличием недостатков в Товарах, либо Клиент отсутствовал по адресу доставки либо не отвечал на звонки службы доставки, прочее).
						h2 4. ДОСТАВКА
						p 4.1. Способы доставки товаров указаны на Сайте в соответствующем разделе. Обязанность Продавца передать товар Покупателю считается исполненной в момент доставки Товара Получателю либо в заранее оговоренный пункт самовывоза.
						p 4.2. Доставка Товара по местонахождению Покупателя, осуществляется силами службы доставки, назначенной Продавцом по адресу, указанному Покупателем. При принятии Заказа от службы доставки, Покупатель обязан осмотреть доставленный Товар и проверить его на соответствие заявленному количеству, ассортименту и комплектности Товара, а также проверить срок службы доставленного Товара и целостность упаковки. В случае отсутствия претензий к доставленному Товару Получатель расписывается в доставочной квитанции либо ином аналогичном документе, предоставляемом службой доставки, и оплачивает Заказ (в отсутствие предоплаты). Подпись в доставочных документах свидетельствует о том, что претензий к Товару получателем не заявлено и Продавец полностью и надлежащим образом выполнил свою обязанность по передаче Товара.
						p 4.3. Заказ вручается Покупателю либо назначенному им получателю, либо лицу, предоставившему документ, подтверждающий оформление Заказа и оплатившему Товар (при отсутствии предварительной оплаты). Во избежание случаев мошенничества, при вручении предоплаченного Заказа у получателя может быть затребован документ, удостоверяющий личность. При отсутствии данного документа либо несовпадения указанных в нем сведений с деталями заказа или данными Покупателя, в передаче данного Товара может быть отказано.
						p 4.4. Неполучение Заказа Клиентом в течение срока бронирования, предусмотренного для соответствующего пункта самовывоза, считается его отказом от Заказа и является основанием для аннулирования заказа Продавцом и возврата денежных средств Клиенту (при наличии предоплаты).
						h2 5. ОФОРМЛЕНИЕ ПРЕДЗАКАЗА
						p 5.1. Продавцом на сайте могут быть предложены к оформлению предварительных заказов Товары, еще не поступившие в продажу и не находящиеся на складе продавца Указанный товар оформляется в отдельный заказ (далее — предзаказ).
						p 5.2. В отношении Товара, который доступен для оформления предзаказа, на Сайте указывается запланированный срок поступления товара в продажу, который может быть изменен Продавцом.
						p 5.3. Информация об изменении сроков доставки Товаров, по которому оформлен предзаказ направляется Покупателю на электронный адрес, указанный им при регистрации на Сайте, либо на телефонный номер, указанный при оформлении Заказа.
						p 5.4. Согласно п.1. ст. 157 ГК РФ при оформлении предзаказа обязанность продавца по передаче товара возникает при условии его поступления в продажу. Если же по не зависящим от Продавца обстоятельствам выпуск товара в продажу производителем отменен либо отложен на неопределенный срок, то Продавец в одностороннем порядке аннулирует предзаказы.
						p 5.5. При поступлении товара на склад Продавец обязан запросить у Клиента подтверждение оформления Заказа, после получения которого Товар передается в службу доставки.
						p 5.6. Предварительная оплата Товара при оформлении предзаказа не допускается.
						h2 6. ОПЛАТА ТОВАРА
						p 6.1. Цена Товара указывается на Сайте в рублях РФ.
						p 6.2. Цена Товара и окончательная сумма Заказа с учетом всех применимых скидок, указывается на этапе оформления Заказа и действительна на момент нажатия кнопки «Подтвердить заказ». Цена на заказанный Клиентом Товар (кроме предзаказанных Товаров) изменению не подлежит.
						p 6.3. К Заказу применяется способ оплаты, выбранный Покупателем при оформлении Заказа из вариантов, предложенных Продавцом на Сайте.
						p 6.4. При предоплате Товаров Заказ принимается в обработку только после зачисления денежных средств на расчетный счет Продавца. При этом Товар не резервируется, и Продавец не гарантирует доступность товара на момент поступления платежа. Если Товар не может быть доставлен в сроки, указанные при оформлении Заказа и Клиент не согласен с увеличением сроков доставки Заказа, Продавец осуществляет возврат полученных от Клиента денег способом, которым Товар изначально был предоплачен.
						h2 7. ОБМЕН И ВОЗВРАТ ТОВАРА
						p 7.1. Обмен и возврат товара осуществляется в соответствии с Законом РФ от 07.02.1992 N 2300-1 «О защите прав потребителей» и Постановлением Правительства РФ от 27.09.2007 N 612 «Об утверждении Правил продажи товаров дистанционным способом»
						ul
							li Возврат товара надлежащего качества.
						p 7.2. Покупатель вправе отказаться от Товара в любое время до его передачи, и в течение 7 дней после.
						p 7.3. Возврат товара надлежащего качества возможен в случае, если сохранены его товарный вид, потребительские свойства, а также документ, подтверждающий факт и условия покупки указанного товара. Отсутствие у Покупателя указанного документа не лишает его возможности ссылаться на другие доказательства приобретения Товара у Продавца.
						p 7.4. При отказе Покупателя от Товара Продавец должен возвратить ему уплаченную сумму, за вычетом своих расходов на доставку от Покупателя возвращенного товара, не позднее чем через 10 дней с даты предъявления Покупателем соответствующего требования.
						ul
							li Возврат товара ненадлежащего качества.
						p 7.5. Покупатель, которому продан Товар ненадлежащего качества, если это не было оговорено Продавцом, вправе по своему выбору потребовать:
						ul
							li безвозмездного устранения недостатков товара или возмещения расходов на их исправление покупателем или третьим лицом;
							li соразмерного уменьшения покупной цены;
							li замены на товар аналогичной марки (модели, артикула) или на такой же товар другой марки (модели, артикула) с соответствующим перерасчетом покупной цены;
							li возврата уплаченной за Товар суммы.
						h2 8. КОНФИДЕНЦИАЛЬНОСТЬ И ЗАЩИТА ПЕРСОНАЛЬНОЙ ИНФОРМАЦИИ. ИНФОРМАЦИОННЫЕ СООБЩЕНИЯ.
						p 8.1. Для приобретения Товаров в Интернет-магазине, Клиент предоставляет Продавцу свои персональные данные.
						p 8.2. Предоставляя свои персональные данные, Клиент соглашается на их обработку Продавцом, в том числе и в целях продвижения продавцом товаров и услуг.
						p 8.3. Если клиент не желает, чтобы его персональные данные обрабатывались, то он должен сообщить об этом в службу по работе с клиентами. В таком случае вся полученная от Клиента информация (в тот числе логин и пароль) удаляется из клиентской базы Продавца и Клиент не сможет размещать заказы на Сайте.
						p 8.4. Продавец использует информацию:
						ul
							li для регистрации Клиента на сайте;
							li для выполнения своих обязательств перед клиентом;
							li для оценки и анализа работы сайта;
							li для определения победителя в акциях, проводимых продавцом.
						p 8.5. Продавец вправе направлять Клиенту сообщения рекламно-информационного характера. Если Клиент не желает получать рассылки от продавца, он может самостоятельно изменить соответствующие настройки в личном кабинете, либо обратиться в службу по работе с клиентами Продавца.
						ul
							li Сервисные сообщения, информирующие Покупателя о Заказе и этапах его обработки, отправляются автоматически и не могут быть отклонены Покупателем.
						p 8.6. Продавец обязуется не разглашать полученные от Клиента персональные данные. Не считается нарушением предоставление Продавцом информации агентам, службам доставки и иным третьим лицам, действующим на основании договора с Продавцом, для исполнения обязательств перед Клиентом либо предоставление информации в соответствии с законными требованиями компетентных органов.
						p 8.7. Продавец не несет ответственности за сведения, предоставленные Клиентом на Сайте в общедоступной форме.
						p 8.8. Продавец не несет ответственности за убытки, которые Клиент может понести в результате того, что его логин и пароль стали известны третьему лицу.
						p 8.9. В случае возникновения у Продавца подозрений относительно использования учетной записи клиента третьим лицом или вредоносным программным обеспечением Продавец вправе в одностороннем порядке изменить пароль Клиента. Для восстановления пароля Клиенту необходимо обратиться в службу по работе с клиентами Продавца.

					.popup__btn: .btn.btn_yellow(data-popup-close='.popup') Ок

