extends layout/template

block vars
	- var pageName = "catalog";
	- var pageTitle = "Home";
	- var pageDescription = pageName;
	- var pageImage = "/img.jpg";
	- var pageUrl = "{{page url}}";
	- var auth = true;
	- var add_class = 'website_bg';

block head

block content
	.breadcrumbs
		.inner
			a(href='#').breadcrumbs-item Главная
			a(href='#').breadcrumbs-item Онлайн-уроки

	.head
		.inner
			.head__title Онлайн-уроки

	.menu
		.menu__list
			.inner
				.menu__item: .menu__link(data-section='course-lessons') Онлайн-уроки
				.menu__item: .menu__link(data-section='course-about') Бесплатный курс
				.menu__item: .menu__link(data-section='course-guide') Как это устроено
				.menu__item: .menu__link(data-section='course-feedback') Отзывы

	.course-lessons
		.inner
			.course-lessons__filter
				.course-lessons__filter-group.is-open
					a(href='#').course-lessons__filter-item.is-active По цене
					a(href='#').course-lessons__filter-item По популярности
					a(href='#').course-lessons__filter-item По новизне
				.course-lessons__filter-group
					.course-lessons__filter-title Сложность курса:
					a(href='#').course-lessons__filter-item.is-active
						img(src='../img/svg/ico-info-dificult_1.svg').ico
						| начинающие
					a(href='#').course-lessons__filter-item
						img(src='../img/svg/ico-info-dificult_2.svg').ico
						| любители
					a(href='#').course-lessons__filter-item
						img(src='../img/svg/ico-info-dificult_3.svg').ico
						| профи
			.course-lessons__list
				+lessonCard('course', 1)
				+lessonCard('course')
				+lessonCard('course', 1)
				+lessonCard('course')
				+lessonCard('course', 1)
				+lessonCard('course')
				+lessonCard('course', 1)
				+lessonCard('course')
				+lessonCard('course', 1)
				+lessonCard('course')
			.course-lessons__more
				.btn.btn_dark Показать еще

	include content/course-about
	include content/course-guide
	include content/course-feedback
	include content/course-more

block append
