extends layout/template

block vars
	- var pageName = "base";
	- var pageTitle = "Home";
	- var pageDescription = pageName;
	- var pageImage = "/img.jpg";
	- var pageUrl = "{{page url}}";
	- var auth = true;
	- var add_class = 'website_bg';

block head



block content
	.conditer
		form(action="" method="" novalidate="")
			.popup__conditer
				.popup__conditer-subtitle Выбор пакета
				.popup__conditer-title Кондитер 2.0
				.popup__conditer-courses
					.popup__conditer-item.is-active(data-item='{"oldprice": "34520₽", "price": "22900₽", "installment": "7633 ₽/мес", "plan": "Бизнес", "prod_id": 4884}')
						label.popup__conditer-item-inner
							input.popup__conditer-item-input(type="radio" value="1" name="course")
							.popup__conditer-item-title Бизнес
							.popup__conditer-item-price
								.old-price
									span 34520₽
								.new-price
									span 22900₽
							.popup__conditer-item-info
								| В рассрочку 7633 ₽/мес
								span.hint
									.hint__content
										| Способ оплаты товаров или услуг, при котором платёж производится не в полной сумме их стоимости, а по частям. Рассрочка наиболее распространена при продаже розничных товаров в кредит. При рассрочке платежа между контрагентами возникают кредитные обязательства. Способ оплаты товаров или услуг, при котором платёж производится не в полной сумме их стоимости, а по частям. Рассрочка наиболее распространена при продаже розничных товаров в кредит.
							.popup__conditer-item-status
								.btn
									span.on Выбрано
									span.off Выбрать
					.popup__conditer-item(data-item='{"oldprice": "24620₽", "price": "17900₽", "installment": "5967 ₽/мес", "plan": "Стандарт", "prod_id": 4883}')
						label.popup__conditer-item-inner
							input.popup__conditer-item-input(type="radio" value="1" name="course")
							.popup__conditer-item-title Стандарт
							.popup__conditer-item-price
								.old-price
									span 24620₽
								.new-price
									span 17900₽
							.popup__conditer-item-info
								| В рассрочку 5967 ₽/мес
								span.hint
									.hint__content
										| Способ оплаты товаров или услуг, при котором платёж производится не в полной сумме их стоимости, а по частям. Рассрочка наиболее распространена при продаже розничных товаров в кредит. При рассрочке платежа между контрагентами возникают кредитные обязательства. Способ оплаты товаров или услуг, при котором платёж производится не в полной сумме их стоимости, а по частям. Рассрочка наиболее распространена при продаже розничных товаров в кредит.
							.popup__conditer-item-status
								.btn
									span.on Выбрано
									span.off Выбрать
					.popup__conditer-item.is-disable(data-item='{"oldprice": false, "price": "89 900₽", "installment": false, "plan": "ВИП"}')
						label.popup__conditer-item-inner
							input.popup__conditer-item-input(type="radio" value="3" name="course" disabled="")
							.popup__conditer-item-title ВИП
							.popup__conditer-item-price
								.old-price  
								.new-price
									span 79 900₽
							.popup__conditer-item-info Без оплаты в расрочку
							.popup__conditer-item-status
								.btn.btn_disable Мест нет
				.popup__conditer-subtitle Контакты и оплата
				.popup__conditer-title Ваши данные
				.popup__conditer-order
					.popup__conditer-form
						#masterklass7.form(data-form-validate-error="true")
							.form__field.f-filled
								.form__input
									input(type="text" name="email" data-require="true" value="koljan3010@yandex.ru" disabled_="")
									.placeholder E-mail
							.form__field.f-filled
								.form__input
									input(type="text" name="name" data-require="true" value="Фиронов Николай" disabled_="")
									.placeholder Имя и фамилия
							.form__field.f-filled
								.form__input
									input(type="text" name="phone" data-require="true" value="+7 (964) 242-20-46" disabled_="")
									.placeholder Телефон
							.form__field.f-filled
								.form__input
									input(type="text" name="insta" data-require="true" data-mask="@%{1,50}" value="@gbgbfgb" disabled_="")
									.placeholder Ваша страничка в Instagram
							.form__field.f-filled
								.form__input
									input(type="text" name="address" data-require="true" value="sfbdfbdgbfgb" disabled_="")
									.placeholder Адрес (куда отправить ваш сертификат)
							.form__field
								.form__input
									select(name="podarok")
										option(value="empty") Выберите Ваш подарок (при полной оплате)
										option(value="4000") Набор начинающего кондитера (4000 руб)
										option(value="5880") Годовая подписка на Базу Знаний (5880 руб)
										option(value="3490") Урок по фуд-фото для кондитеров (3490 руб)
							.form__field
								p(style="color:#AAA;font-size:12px;")
									| *Заполняйте поля корректно! Эти данные мы будем использовать для ваших сертификатов и для включения в чат WhatsApp
							.form__field.f-filled
								.form__input
									label
										input(type="checkbox" name="checkbox" data-require="true")
										.form__label
											| Я согласен с
											a(href="https://drive.google.com/file/d/0B1a-izTlHXvrVWlYcy1yd3R4UG8/view?usp=sharing" target="_blank") условиями оферты
					.popup__conditer-result
						.popup__conditer-table
							.table
								.table-row
									.table-cell План
									.table-cell.table-cell_val(data-plan="") Бизнес
								.table-row(data-wrap="")
									.table-cell Обычная цена
									.table-cell.table-cell_val(data-oldprice="") 34520₽
								.table-row
									.table-cell Цена со скидкой
									.table-cell.table-cell_val(data-price="") 22900₽
						.popup__conditer-submit
							.popup__conditer-submit-info
								.table
									.table-row
										.table-cell Итого
										.table-cell.table-cell_big.table-cell_val(data-price="") 22900₽
							.popup__conditer-submit-btn
								a#full(data-action="ADD2BASKET" onclick="yaCounter36771900.reachGoal('ADDCART'); return true;" data-product_id="4884" href="/personal/cart/")
									.btn Оплатить
						.popup__conditer-submit(data-wrap="")
							.popup__conditer-submit-info
								.table
									.table-row
										.table-cell Рассрочка
										.table-cell.table-cell_val(data-installment="") 7633 ₽/мес
							.popup__conditer-submit-btn
								a#patr(data-action="ADD2BASKET_PARTIAL" onclick="yaCounter36771900.reachGoal('ADDPATRIAL'); return true;" data-product_id="4884" href="/personal/cart/")
									.btn.btn_violet Оплатить в рассрочку


