extends layout/template

block vars
	- var pageName = "base";
	- var pageTitle = "Home";
	- var pageDescription = pageName;
	- var pageImage = "/img.jpg";
	- var pageUrl = "{{page url}}";
	- var auth = true;

block head

block content
	//-include content/__examples_form
	//-include content/__examples_drugndrop

	section.welcome-poster
		.poster
			.poster__background
				picture
					source(media="(min-width: 1920px)" srcset="../img/picture/Photo_1920.jpg")
					source(media="(min-width: 1366px)" srcset="../img/picture/Photo_1366.jpg")
					source(media="(min-width: 1024px)" srcset="../img/picture/Photo_1024.jpg")
					source(media="(min-width: 768px)" srcset="../img/picture/Photo_768.jpg")
					img.img-fit(src="../img/picture/Photo_360.jpg" alt="")
			.inner
				.poster__content
					.poster__content-text Проводим #[a(href="#", data-tooltip-content="._tt1") онлайн-уроки], #[a(href="#", data-tooltip-content="._tt2") вебинары], обучаем более 1000 учеников в&nbsp;год, на&nbsp;#[a(href="#", data-tooltip-content="._tt3") офлайн-курсах]. #[br]Собираем полезную информацию в нашей #[a(href="#", data-tooltip-content="._tt4") базе&nbsp;знаний].
					.poster__content-btn: .btn.btn_yellow Войти в ЛК
					.is-hidden
						._tt1
							.tooltip-preview
								.tooltip-preview__inner
									.tooltip-preview__image: +img(500,500,'Онлайн уроки', '456')
									.tooltip-preview__info
										.tooltip-preview__title Онлайн уроки
										.tooltip-preview__text Мы уверены в качестве своих курсов, поэтому с радостью дарим вам возможность попробовать онлайн-урок всего за 10 рублей!
										.tooltip-preview__link: a(href='#').goto Подробнее
						._tt2
							.tooltip-preview
								.tooltip-preview__inner
									.tooltip-preview__image: +img(500,500,'Вебинары', '456')
									.tooltip-preview__info
										.tooltip-preview__title Вебинары
										.tooltip-preview__text Мы уверены в качестве своих курсов, поэтому с радостью дарим вам возможность попробовать онлайн-урок всего за 10 рублей!
										.tooltip-preview__link: a(href='#').goto Подробнее
						._tt3
							.tooltip-preview
								.tooltip-preview__inner
									.tooltip-preview__image: +img(500,500,'Оффлайн уроки', '456')
									.tooltip-preview__info
										.tooltip-preview__title Оффлайн уроки
										.tooltip-preview__text Мы уверены в качестве своих курсов, поэтому с радостью дарим вам возможность попробовать онлайн-урок всего за 10 рублей!
										.tooltip-preview__link: a(href='#').goto Подробнее
						._tt4
							.tooltip-preview
								.tooltip-preview__inner
									.tooltip-preview__image: +img(500,500,'База знаний', '456')
									.tooltip-preview__info
										.tooltip-preview__title База знаний
										.tooltip-preview__text Мы уверены в качестве своих курсов, поэтому с радостью дарим вам возможность попробовать онлайн-урок всего за 10 рублей!
										.tooltip-preview__link: a(href='#').goto Подробнее

	section.welcome-announce.welcome-announce_news
		.inner
			.announce
				.announce__head
					.announce__head-title Новости
					.announce__head-link: a(href="#").goto Все новости
				.announce__list
					// type, content, slider, ticket,
					+announceSlide('news', true, true, true)
					+announceSlide('news', true, true, false)
					+announceSlide('news', true, false, true)
					+announceSlide('news', true)
					+announceSlide('news', false, false, true)
					+announceSlide('news', false, false, 1)

	section.welcome-lessons.welcome-lessons_login
		.inner
			.lessons
				.lessons__info
					.lessons__info-title Попробуйте наши уроки
					.lessons__info-text Мы уверены в качестве своих курсов, поэтому с радостью дарим вам возможность попробовать онлайн-урок всего за 10 рублей!
					.lessons__info-form
						.lessons__info-count
							span.num 1
							span Авторизуйтесь, для доступа в ЛК
						form.form(action='', method='post', novalidate, autocomplete='off')
							.form__field
								.form__input
									input(type='text', name='userName', data-require='true')
									.form__placeholder Ваше имя
							.form__field
								.form__input
									input(type='email', name='userEmail', data-require='email')
									.form__placeholder Адрес эл.почты
							.form__field.form__field_submit
								.form__input
									button(type='submit').btn.btn_yellow Войти в ЛК

				.lessons__aside
					.lessons__aside-background
					.lessons__aside-head
						.lessons__info-count
							span.num 2
							span Выберите и оплатите урок
						.lessons__info-count
							span.num 3
							span После оплаты, ваш урок будет доступен в ЛК
					.lessons__aside-carousel
						.lessons__slider
							+lessonCard('course', 1)
							+lessonCard('course')
							+lessonCard('social')

	section.welcome-announce.welcome-announce_course
		.inner
			.announce
				.announce__head
					.announce__head-title Онлайн-курсы
					.announce__head-text На курсах Алина делится авторскими рецептами, обучает всем тонкостям приготовления, начиная с подбора инвентаря, заканчивая оригинальным современным оформлением.
					.announce__head-link: a(href="#").goto Все курсы
				.announce__list
					+announceSlide('course', true, true)
					+announceSlide('course', true, true)
					+announceSlide('course', true, true)

	section.welcome-lessons.welcome-lessons_knowlidge
		.inner
			.lessons
				.lessons__info
					.lessons__info-title База знаний
					.lessons__info-text Каждую неделю мы добавляем 2-3 статьи на кондитерскую тему в нашу базу знаний. Это самые лучшие и полезные материалы собранные в одном месте. Вам больше не придется тратить своё время на поиск информации в интернете.
					.lessons__info-stat
						.lessons__info-stat-item
							.lessons__info-stat-value 267
							.lessons__info-stat-text Добавленных материалов
						.lessons__info-stat-item
							.lessons__info-stat-value 65
							.lessons__info-stat-text Видео-рецептов с&nbsp;описанием
						.lessons__info-stat-item
							.lessons__info-stat-value 267
							.lessons__info-stat-text Добавленных статей
					.lessons__info-btn: .btn.btn_yellow Получить демо-доступ


				.lessons__aside
					.lessons__aside-background
					.lessons__aside-head #[span.rounds] Последние добавленные материалы
					.lessons__aside-carousel
						.lessons__slider
							+lessonCard('article')
							+lessonCard('article')
							+lessonCard('article')

	section.welcome-lessons.welcome-lessons_online
		.inner
			.lessons
				.lessons__info
					.lessons__info-title Онлайн-уроки
					.lessons__info-text Мы подготовили для вас более 20 разных онлайн-уроков по самым интересным десертам. Подробные технологические карты, видео процесса приготовления, помощь куратора - главные преимущества наших уроков.
					.lessons__info-goto: a(href='#').goto Все онлайн-уроки


				.lessons__aside

					.lessons__aside-carousel
						.lessons__slider
							+lessonCard('course', 1)
							+lessonCard('course')
							+lessonCard('course', 1)
							+lessonCard('course')
							+lessonCard('course')
							+lessonCard('course', 1)

	section.welcome-intro
		.inner
			.intro
				.intro__logo: img.img-fit(src='../img/picture/photo_1.png')
				.intro__content
					.intro__info
						.intro__info-title
							| Алина Макарова
							.intro__info-sing: img(src='../img/svg/sign.svg', alt='')
						.intro__info-text
							p Основатель Школы кондитерского искусства в Москве. На курсах Алина делится авторскими рецептами, обучает всем тонкостям приготовления, начиная с подбора инвентаря, заканчивая оригинальным современным оформлением.
							p Алина не только кондитер, но и преподаватель. Она гармонично совместила теорию с практикой, чтобы обучение прошло наиболее эффективно. Алина училась у лучших европейских Шефов, таких как Оливье Бажар, Эммануэль Амон, Ханс Овандо, Вилфрид Ховел.

					.intro__quote
						p Более 2000 очных учеников и 5000 онлайн. Помогаем всем, кто хочет стать кондитером, осуществить мечту.
						p.c-yellow По результатам обучения ученики получают сертификат школы

	section.welcome-sertificates
		.inner
			.sertificates
				.sertificates__list
					.sertificates__slide: a.zoom(href="../img/certificat/01.jpeg"): img(src='../img/certificat/01_s.jpeg')
					.sertificates__slide: a.zoom(href="../img/certificat/02.jpeg"): img(src='../img/certificat/02_s.jpeg')
					.sertificates__slide: a.zoom(href="../img/certificat/03.jpeg"): img(src='../img/certificat/03_s.jpeg')
					.sertificates__slide: a.zoom(href="../img/certificat/04.jpeg"): img(src='../img/certificat/04_s.jpeg')
					.sertificates__slide: a.zoom(href="../img/certificat/05.jpeg"): img(src='../img/certificat/05_s.jpeg')
					.sertificates__slide: a.zoom(href="../img/certificat/06.jpeg"): img(src='../img/certificat/06_s.jpeg')


block append
