extends layout/template

block vars
	- var pageName = "product-bought";
	- var pageTitle = "Home";
	- var pageDescription = pageName;
	- var pageImage = "/img.jpg";
	- var pageUrl = "{{page url}}";
	- var auth = true;
	- var add_class = 'website_bg';

block head

block content

	.breadcrumbs
		.inner
			a(href='#').breadcrumbs-item Главная
			a(href='#').breadcrumbs-item Онлайн-уроки
			a(href='#').breadcrumbs-item CAKE POPS

	.head
		.inner
			.head__title CAKE-POPS

	.menu
		.menu__list
			.inner
				.menu__item: .menu__link(data-section='course-about') Описание
				.menu__item: .menu__link(data-section='course-detail') Детали
				.menu__item: .menu__link(data-section='course-review') Примечание
				.menu__item: .menu__link(data-section='course-feedback') Отзывы


	.sticky-frame
		include content/course-about
		include content/course-detail
		include content/course-review
	include content/course-feedback
	include content/course-more

block append
