extends layout/template

block vars
	- var pageName = "product";
	- var pageTitle = "Home";
	- var pageDescription = pageName;
	- var pageImage = "/img.jpg";
	- var pageUrl = "{{page url}}";
	- var auth = true;
	- var add_class = 'website_bg';

block head

block content
	//-include content/__examples_form
	//-include content/__examples_drugndrop

	.breadcrumbs
		.inner
			a(href='#').breadcrumbs-item Главная
			a(href='#').breadcrumbs-item Онлайн-уроки
			a(href='#').breadcrumbs-item CAKE POPS

	.head
		.inner
			.head__title CAKE-POPS

	.menu
		.menu__list
			.inner
				.menu__item: .menu__link(data-section='course-about') Описание
				.menu__item: .menu__link(data-section='course-review') Примечание
				.menu__item: .menu__link(data-section='course-feedback') Отзывы

	.sticky-frame
		include content/course-about
		include content/course-review
		section.course-review
			.inner
				.course-review__text
					h3 Документы
					p
						.document
							.document__list
								.document__item
									.document__inner
										.document__type PDF
										.document__name Оферта
										.document__note 600 КБ
										a(href='#', download='/').document__link


	include content/course-feedback
	include content/course-more

block append
