//@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600&subset=cyrillic');

@import url('https://fonts.googleapis.com/css?family=Lora:400,400i|Roboto:300,400,500&subset=cyrillic');

//font-family: 'Roboto', sans-serif;
//font-family: 'Lora', serif;