footer.footer
	.inner
		.footer__logo: img(src='../img/svg/logo_footer.svg')
		.footer__soc
			.footer__soc-title Мы в соц.сетях
			.footer__soc-list
				a(href='').footer__soc-item: include ../../img/svg/ico_instagram.svg
				a(href='').footer__soc-item: include ../../img/svg/ico_vk.svg
		.footer__text © 2014—2019 Cake School. Все права защищены. Использование материалов с сайта alinamakarova.ru допускается с обязательным уведомлением автора. #[a(href="") Политика конфиденциальности]