header.header
	.inner
		.header__logo: a(href='/'): img(src='../img/svg/logo_header.svg', alt="")
		.header__handler
			.header__handler-ico: i
			.header__handler-text Меню
		form(action='', method='post').header__search
			.header__search-inner
				input.header__search-input(type="text", placeholder="Поиск по сайту...", value="")
				.header__search-ico: include ../../img/svg/ico-lens.svg
				.header__search-clear
		.header__soc
			.header__soc-title Мы в соц.сетях
			a(href='#').header__soc-item: include ../../img/svg/ico_instagram.svg
			a(href='#').header__soc-item: include ../../img/svg/ico_vk.svg
		.header__cart
			.header__cart-ico: include ../../img/svg/ico-cart_fill.svg
			.header__cart-text Корзина
		.header__auth
			if (auth)
				.header__auth-btn.btn.btn_ico-user: include ../../img/svg/ico-user.svg
				.header__auth-menu
					.header__auth-item: a(href='#') Мой профиль
					.header__auth-item: a(href='#') Мои уроки
					.header__auth-item: a(href='#') Кондитер 2.0
					.header__auth-item: a(href='#') База знаний
					.header__auth-item: a(href='#') Выход
			else
				.btn.btn_yellow(onclick="window.registration.popup.open('#authPopup')") Войти

nav.nav
	.nav__wrap
		.inner
			.nav__list
				.nav__item
					.nav__item-link: a(href='#') Главная
				.nav__item
					.nav__item-link: a(href='#') Онлайн-уроки
				.nav__item
					.nav__item-link: a(href='#') База знаний
				.nav__item
					.nav__item-link: a(href='#') Новости
					.nav__item-tag: a(href='#').tag.tag_green Вебинар онлайн
				.nav__item
					.nav__item-link: a(href='#') Онлайн-курсы
				.nav__item.nav__item_devider &nbsp;
				.nav__item.nav__item_announce
					.nav__item-link: a(href='#') Кондитер 2.0
					.nav__item-detail.c-yellow Старт: 11 марта
				.nav__item.nav__item_announce
					.nav__item-link: a(href='#') Современная выпечка
					.nav__item-detail Старт: 11 марта
				.nav__item.nav__item_announce
					.nav__item-link: a(href='#') Классный курс
					.nav__item-detail.c-yellow Скоро

.cart
	.cart__close
	.cart__wrap

		.inner
			.cart__title Ваша корзина
			#cartOutSide
			.cart__result-btn: a(href='#').btn.btn_yellow Перейти в корзину
		//-.inner
			.cart__title Ваша корзина
			.cart__list
				.cart__item
					.cart__item-image: +img(100, 80, '')
					.cart__item-info
						.cart__item-title ФУД-ФОТО ДЛЯ КОНДИТЕРА
						.cart__item-text.del 4 590 руб.
						.cart__item-price 3 590 руб.
					.cart__item-remove
				.cart__item
					.cart__item-image: +img(100, 80, '')
					.cart__item-info
						.cart__item-title Манго
						.cart__item-text.del 4 590 руб.
						.cart__item-price.c-green Бесплатно
					.cart__item-remove
				.cart__item
					.cart__item-image: +img(100, 80, '')
					.cart__item-info
						.cart__item-title База знаний
						.cart__item-text Подписка на 1 месяц
						.cart__item-price 290 руб.
					.cart__item-remove
				.cart__item
					.cart__item-image: +img(100, 80, '')
					.cart__item-info
						.cart__item-title Кондитер 2.0
						.cart__item-text Тариф стандарт
						.cart__item-price 17 900 руб.
					.cart__item-remove

			.cart__result
				.cart__result-info
					.cart__result-name Общая стоимость
					.cart__result-value 2 280 руб.
				.cart__result-btn: .btn.btn_yellow Перейти в корзину
