mixin img(width, height, text, bg, color)
	img.img-fit(src="https://via.placeholder.com/" + width + "x" + (height ? height : width) + "/" + ( bg ? bg : 999) + "/" + (color ? color : 'FFF') + (text ? "?text=" + text : '') )


mixin announceSlide(type, content, slider, ticket)
	- var classTicket = ticket ? 'announce__slide_ticket' : '';
	- var classSlider = slider ? 'announce__slide_inslider' : '';
	.announce__slide(class= classTicket + ' ' + classSlider)
		.announce__slide-inner
			if ( content )
				.announce__slide-content
					if ( type === 'news' )
						.announce__slide-info.announce__slide-info_news
							.announce__slide-info-status
								.announce__slide-info-status-title: a(href="#") Вебинары
								.announce__slide-info-status-value.c-red Онлайн
							if ( slider )
								.announce__slide-inslider
									.announce__slide-inslider-slide: +img(500,500,'Слайд 1', '456')
									.announce__slide-inslider-slide: +img(500,500,'Слайд 2', '981')
							.announce__slide-info-title Морковный торт, шоколадный ганаш длинный заголовок
							.announce__slide-info-list
								.announce__slide-info-item #[b Дата:] 11 апреля 2019
								.announce__slide-info-item #[b Продолжительность:] 2-3 часа
								.announce__slide-info-item #[b О чем вебинар:] Хочешь научиться готовить как профессионал? #[br]Самый мощный, продвинутый и насыщенный курс по кондитерскому искусству. Хочешь научиться готовить как профессионал? Самый мощный, продвинутый и насыщенный курс по кондитерскому искусству.
							.announce__slide-info-goto: a(href='#').goaway На страницу трансляции
					else if ( type === 'course' )
						.announce__slide-info.announce__slide-info_course
							if ( slider )
								.announce__slide-inslider
									.announce__slide-inslider-slide: +img(500,500,'Слайд 1', '456')
									.announce__slide-inslider-slide: +img(500,500,'Слайд 2', '981')
							.announce__slide-info-title Кондитер 2.0
							.announce__slide-info-text Хочешь научиться готовить как профессионал? Самый мощный, продвинутый и насыщенный курс по кондитерскому искусству. Хочешь научиться готовить как профессионал? Самый мощный, продвинутый и насыщенный курс по кондитерскому искусству.
							.announce__slide-info-goto: a(href="#").goto Подробнее о курсе
							.announce__slide-info-list
								.announce__slide-info-item #[b Старт:] 11 апреля 2019
								.announce__slide-info-item #[b Продолжительность:] 14 недель
							.announce__slide-info-btn: .btn.btn_yellow Записаться на курс

			if ( ticket )
				.announce__slide-ticket
					.announce__slide-ticket-label
						p Скидка
						p.value 15%
						p участникам вебинара
					if ( ticket === 1)
						.announce__slide-ticket-content
							.announce__slide-ticket-title на курс: Современная выпечка в 2 строчки
							.announce__slide-ticket-old: span.crossline 43 340₽
							.announce__slide-ticket-date 29 900₽
							.announce__slide-ticket-text #[span.underline В рассрочку] 7475 ₽/мес
							.announce__slide-ticket-btn: .btn.btn_yellow Записаться на курс
							.announce__slide-ticket-note как воспользоваться скидкой расскажем на вебинаре
					else
						.announce__slide-ticket-content
							.announce__slide-ticket-title на курс: Современная выпечка в 2 строчки
							.announce__slide-ticket-text скидка действует до
							.announce__slide-ticket-date 11 марта
							.announce__slide-ticket-btn: .btn.btn_yellow Принять участие и&nbsp;получить скидку
							.announce__slide-ticket-note как воспользоваться скидкой расскажем на вебинаре

mixin lessonCard(type, ver)
	.lessons__slide(class= 'lessons__slide_' + type)
		.lessons__slide-inner
			.action-label
				p Скидка
				p.value 15%
				p участникам вебинара
			if (type === 'social')
				.lessons__slide-image
					img.img-fit(src="../img/picture/photo_1.png")
					.lessons__slide-ico: img(src="../img/svg/ico_instagram.svg")
			else
				.lessons__slide-image: +img(400,400,'Картинка')

			if ( type === 'course' )
				.lessons__slide-body
					.lessons__slide-title Урок по Cake-Pops длинный заголовок
					.lessons__slide-description
						.lessons__slide-description-item
							i.ico: include ../../img/svg/ico-info-dificult.svg
							span Сложность: #[span.c-green лёгкий]
						.lessons__slide-description-item
							i.ico: include ../../img/svg/ico-info-play.svg
							span 100 минут
						.lessons__slide-description-item
							i.ico: include ../../img/svg/ico-info-page.svg
							span 40 страниц
				.lessons__slide-footer
					if ( ver === 1 )
						.lessons__slide-price 10 руб.
						.lessons__slide-btn
							.btn.btn_yellow.btn_ico-cart
					else
						.lessons__slide-price Бесплатно
						.lessons__slide-btn
							.btn.btn_dviolet.btn_ico-view
			else if (type === 'article')
				.lessons__slide-body
					.lessons__slide-theme Вебинары
					.lessons__slide-title Шаги к успеху или как стать востребованным...
					.lessons__slide-description Божественный чизкейк с выпечкой. С хрустящей основой сабле (никаких печенек из магазина), с правильной...
				.lessons__slide-footer
					.lessons__slide-goto: a(href="") Читать
					.lessons__slide-like: include ../../img/svg/like.svg
			else if (type === 'social')
				.lessons__slide-body
					.lessons__slide-title Еще больше полезностей в нашем Instagram
					.lessons__slide-description Каждые 2 дня мы публикуем полезные идеи, фотографии и другие материалы
