include mixin

block vars
doctype html
html(lang='ru')
	head
		meta(charset='UTF-8')/
		//-meta(http-equiv="Content-Type" content="text/html; charset=windows-1251")
		meta(name='viewport', content='width=device-width')/
		meta(http-equiv='X-UA-Compatible', content='IE=edge')/
		title= pageTitle

		meta(property='og:title', content= pageTitle)/
		meta(property='og:description', content= pageDescription)/
		meta(property='og:image', content= pageImage)/
		meta(property='og:url', content= pageUrl)/
		meta(name='twitter:title', content= pageTitle)/
		meta(name='twitter:description', content= pageDescription)/
		meta(name='twitter:image', content= pageImage)/
		meta(name='twitter:card', content='summary_large_image')/
		//-include favicon

		block head
	body
		.wrapper
			include header
			.website(class= add_class)
				block content
			include footer
			include ../content/reg-popups
			include popups

		block append
		link(rel="stylesheet" href='https://alinamakarova.ru/bitrix/templates/alina_new/css/registration.style.css')
		script(src="https://alinamakarova.ru/bitrix/templates/alina_new/js/jquery.min.js")
		script(src="https://alinamakarova.ru/bitrix/templates/alina_new/js/registration.script.js")
		script(src="https://alinamakarova.ru/bitrix/templates/alina_new/js/registration.custom.js")
