

html {
	height: 100%;
}

body {
	font-family: $fontMain;
	font-size: 16px;
	width: 100%;
	height: 100%;
	line-height: 1.2;
	color: $colorBlack;


	&.body-popup{
		//min-width: 640px;
	}

	&.is-menu-open{

		@include breakPoint(0, $breakPoint_compact){
			overflow: hidden;
		}
	}
}

.wrapper{
	overflow: hidden;
}



.btn{
	cursor: pointer;
	display: inline-block;
	padding: 9px 25px 7px;
	font-size: 14px;
	border-radius: 100px;
	text-align: center;
	box-sizing: border-box;
	min-height: 36px;
	line-height: (21/16);
	background: no-repeat 50% 50%;
	user-select: none;
	position: relative;


	@include breakPoint($breakPoint_tablet){
		min-height: 44px;
		font-size: 16px;
		line-height: 20px;
		padding: 12px 40px 11px;
	}

	@include breakPoint($breakPoint_compact){
		min-height: 40px;
		font-size: 14px;
		line-height: 18px;
		padding: 12px 40px 10px;
	}

	@include breakPoint($breakPoint_desktop){
		min-height: 44px;
		font-size: 16px;
		line-height: 20px;
		padding: 12px 40px 11px;
	}

	&_yellow{
		color: #fff;
		fill: #fff;
		background-color: $colorYellow;

		&:hover{
			background-color: $colorYellowHover;
		}
	}

	&_dark{
		color: #fff;
		fill: #fff;
		background-color: #606C77;
	}

	&_dviolet{
		color: #fff;
		fill: #fff;
		background-color: $colorDarkViolet;
	}

	&_ico-cart{
		font-size: 0;
		background-image: url("../../img/svg/ico-cart.svg");
		background-size: 24px 24px;
	}

	&_ico-view{
		font-size: 0;
		background-image: url("../../img/svg/ico-view.svg");
		background-size: 24px 24px;
	}

	&_vk{
		background-color: #4A76A8;
		padding-right: 32px;
		padding-left: 32px;
		background-image: url("../../img/svg/ico-vk-w.svg");
		background-size: 70% auto;
	}
	&_fb{
		background-color: #3B5998;
		padding-right: 32px;
		padding-left: 32px;
		background-image: url("../../img/svg/ico-fb-w.svg");
		background-size: 70% auto;
	}

	&_disable{
		background-color: $colorGrey!important;
		cursor: no-drop!important;
	}

	.ico{
		height: 16px;
	}

	&.is-loading{
		background-image: url("../../img/svg/btn-loader.svg");
		background-size: auto 70%;
		color: transparent!important;
		cursor: default!important;
		fill-opacity: 0!important;
	}

	&__tooltip{
		position: absolute;
		background: $colorBackgroundDark;
		color: #fff;
		padding: 5px 10px;
		font-size: 12px;
		border-radius: 4px;
		bottom: calc(100% + 10px);
		left: 50%;
		transform: translateX(-50%);
		pointer-events: none;
		opacity: 0;
		transition: all .3s ease;

		&:after{
			content: '';
			display: block;
			position: absolute;
			top: 100%;
			left: 50%;
			margin-left: -5px;
			border: 5px solid transparent;
			border-top-color: $colorBackgroundDark;
		}

		.btn:hover &{
			opacity: 1;
		}
	}


}


.website {
	min-height: calc(100vh - 270px);

	&_bg{
		background: $colorBackground;
	}
}



.inner{
	margin: 0 20px;

	@include breakPoint($breakPoint_tablet){
		max-width: 700px;
		margin: 0 auto;
	}
	@include breakPoint($breakPoint_compact){
		max-width: 900px;
	}
	@include breakPoint($breakPoint_desktop){
		max-width: 1240px;
	}
	@include breakPoint($breakPoint_fullhd){
		max-width: 1550px;
	}
}


$headerMobileHeight: 60px;
$navMobileHeight: 50px;
$headerCompactHeight: 70px;
$navCompactHeight: 65px;
$headerDesktopHeight: 80px;
$navDesktopHeight: 80px;

.tag{
	font-size: 10px;
	cursor: default;
	user-select: none;
	line-height: 16px;
	height: 16px;
	border-radius: 50px;
	display: inline-block;
	white-space: nowrap;
	padding: 0 5px;
	font-weight: 300;

	@include breakPoint($breakPoint_desktop){
		font-size: 11px;
		line-height: 20px;
		height: 20px;
		padding: 0 10px;
	}

	&_green{
		background: $colorGreen;
		color: #fff;
	}
}

.header{
	border-bottom: 1px solid $colorGrey;
	background: #fff;
	z-index: 10;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;

	.inner{
		display: flex;
		align-items: center;
		height: $headerMobileHeight;

		@include breakPoint($breakPoint_tablet){

		}
		@include breakPoint($breakPoint_compact){
			height: $headerCompactHeight;
			position: relative;
		}
		@include breakPoint($breakPoint_desktop){
			height: $headerDesktopHeight;

		}
		@include breakPoint($breakPoint_fullhd){

		}
	}

	&__logo{
		width: 96px;
		height: 50px;

		@include breakPoint(0, $breakPoint_compact){
			order: 1;
		}

		@include breakPoint($breakPoint_compact){
			width: 107px;
			height: 56px;
		}

		img{
			width: 100%;
		}
	}
	&__handler{

		opacity: 0;
		margin-right: 0;
		margin-left: 0;
		pointer-events: none;
		width: 0;
		transition: all 0.3s ease;
		white-space: nowrap;

		@include breakPoint(0, $breakPoint_compact){
			order: 0;
		}

		.is-menu-fixed &{
			opacity: 1;
			pointer-events: all;
			width: 36px;
			margin-right: 20px;

			@include breakPoint($breakPoint_compact){
				margin-right: 0;
				margin-left: 20px;
				width: 75px;
			}
		}

		&-ico{
			width: 36px;
			height: 36px;
			border-radius: 50%;
			background: $colorYellow;
			position: relative;
			cursor: pointer;
			display: inline-block;
			vertical-align: middle;

			@include breakPoint($breakPoint_compact){
				background: transparent;
			}

			i{
				display: block;
				width: 14px;
				height: 2px;
				border-radius: 10px;
				position: absolute;
				top: 50%;
				left: 50%;
				margin-top: -1px;
				margin-left: -7px;
				background: #fff;
				transition: all 0.3s ease;

				.is-menu-open &{
					background: transparent;
				}

				@include breakPoint($breakPoint_compact){
					background: $colorYellow;
				}


				&:before,
				&:after{
					content: '';
					display: block;
					width: 100%;
					height: 100%;
					border-radius: 10px;
					position: absolute;
					top: 0;
					left: 0;
					background: #fff;
					transition: all 0.3s ease;

					@include breakPoint($breakPoint_compact){
						background: $colorYellow;
					}
				}

				&:before{
					margin-top: -6px;

					.is-menu-open &{
						margin-top: 0;
						transform: rotate(-135deg);
					}
				}

				&:after{
					margin-top: 6px;

					.is-menu-open &{
						margin-top: 0;
						transform: rotate(-45deg);
					}
				}
			}
		}

		&-text{
			display: none;

			@include breakPoint($breakPoint_compact){
				display: inline-block;
				font-size: 12px;
				margin-left: 0;
				font-weight: 300;
				color: $colorGreyText;
				vertical-align: middle;
			}

			.is-menu-open &{
				color: $colorBlack;
				font-weight: 400;
			}
		}
	}
	&__search{
		flex: 1;
		height: 100%;
		display: block;

		@include breakPoint(0, $breakPoint_compact){
			order: 1;
		}

		@include breakPoint($breakPoint_compact){
			margin-left: 20px;
		}


		&-inner{
			height: 100%;
			width: 100%;
			position: relative;
			background: #fff;

			@include breakPoint($breakPoint_compact){
				background: transparent;
			}

			.is-search-show &{

				@include breakPoint(0, $breakPoint_compact){
					position: fixed;
					top: 0;
					left: 0;
					right: 0;
					z-index: 10;
					height: $headerMobileHeight;
				}
			}
		}

		&-ico{
			width: 36px;
			height: 36px;
			text-align: center;
			cursor: pointer;
			position: absolute;
			top: 50%;
			margin-top: -18px;
			right: 0;

			@include breakPoint(0, $breakPoint_compact){
				.is-search-show &{
					right: 13px;
				}
			}

			@include breakPoint($breakPoint_compact){
				right: auto;
				left: -10px;
			}


			svg{
				width: 24px;
				height: 100%;

				@include breakPoint($breakPoint_compact){
					width: 12px;
				}

				path{
					fill: $colorGrey;
				}
			}
		}
		&-input{
			position: absolute;
			top: 0;
			left: 0;
			bottom: -2px;
			width: 100%;
			box-sizing: border-box;
			display: none;
			border-bottom: 2px solid transparent;
			transition: border 0.3s ease;
			padding: 0 90px 0 30px;

			@include breakPoint(0, $breakPoint_compact){
				.is-search-show &{
					display: block;
				}
			}

			@include breakPoint($breakPoint_compact){
				display: block;
				font-size: 12px;
				padding: 0 40px 0 40px;
			}

			&:focus{
				border-bottom-color: $colorYellow;

				& ~ .header__search-ico{
					svg{
						path{
							fill: $colorYellow;
						}
					}
				}
			}
		}

		&-clear{
			display: none;
			width: 25px;
			height: 25px;
			position: absolute;
			top: 50%;
			margin-top: -12px;
			right: 60px;

			@include breakPoint(0, $breakPoint_compact){
				.is-search-show.is-input-fill &{
					display: block;
				}
			}

			@include breakPoint($breakPoint_compact){
				right: 20px;

				.is-input-fill &{
					display: block;
				}
			}

			&:before,
			&:after{
				content: '';
				display: block;
				width: 26px;
				height: 2px;
				border-radius: 10px;
				position: absolute;
				top: 50%;
				left: 50%;
				margin-left: -13px;
				margin-top: -1px;
				background: $colorGreyText;
				transition: all 0.3s ease;

				@include breakPoint($breakPoint_compact){
					width: 20px;
					margin-left: -10px;
				}
			}

			&:before{
				transform: rotate(-135deg);
			}

			&:after{
				transform: rotate(-45deg);
			}
		}
	}
	&__soc{
		display: none;
		white-space: nowrap;

		@include breakPoint($breakPoint_compact){
			display: block;
		}

		&-title{
			font-size: 12px;
			font-weight: 300;
			display: inline-block;
			vertical-align: middle;
		}
		&-item{
			display: inline-block;
			width: 18px;
			height: 18px;
			vertical-align: middle;
			margin-left: 16px;

			svg{
				width: 100%;
				height: 100%;
			}
		}
	}

	&__cart{
		margin-left: 15px;
		white-space: nowrap;
		cursor: pointer;

		@include breakPoint(0, $breakPoint_compact){
			order: 1;
		}

		@include breakPoint($breakPoint_compact){
			margin-left: 30px;
		}

		&-ico{
			width: 36px;
			height: 36px;
			text-align: center;
			cursor: pointer;
			display: inline-block;
			vertical-align: middle;

			svg{
				width: 24px;
				height: 100%;

				@include breakPoint($breakPoint_compact){
					width: 18px;
				}

				path{
					fill: $colorGrey;
				}
			}
		}
		&-text{
			display: none;
			font-size: 12px;
			font-weight: 300;
			color: $colorGreyText;

			@include breakPoint($breakPoint_compact){
				display: inline-block;
				vertical-align: middle;

			}
		}
	}
	&__auth{
		margin-left: 15px;

		@include breakPoint(0, $breakPoint_compact){
			order: 1;
		}

		@include breakPoint($breakPoint_compact){
			margin-left: 30px;
		}

		.btn{

			@include breakPoint(0, $breakPoint_compact){
				font-size: 14px;
				padding: 18px;
				min-height: 0;
				background-size: 24px 24px;
				line-height: 0;
			}

			&_ico-user{
				font-size: 0;
				padding: 18px;
				min-height: 0;
				background-size: 24px 24px;
				line-height: 0;
				position: relative;

				svg{
					position: absolute;
					top: 50%;
					left: 50%;
					width: 24px;
					height: 24px;
					margin-top: -11px;
					margin-left: -12px;
				}

				path{
					fill: $colorYellow
				}
			}

		}

		&-menu{
			position: fixed;
			top: ($headerMobileHeight + 1);
			background: #fff;
			bottom: 0;
			width: 272px;
			font-size: 18px;
			box-shadow: 0 0 0 1px $colorGrey;
			right: -272px;
			transition: right 0.3s ease;
			pointer-events: none;


			@include breakPoint($breakPoint_compact){
				position: absolute;
				right: 0;
				opacity: 0;
				transition: all 0.3s ease;
				font-size: 13px;
				color: $formColorText;
				font-weight: 300;
				width: 180px;
				bottom: auto;
			}

			.is-usermenu-open &{
				pointer-events: all;

				@include breakPoint(0, $breakPoint_compact){
					right: 0;
				}

				@include breakPoint($breakPoint_compact){
					opacity: 1;
					top: calc(100% + 1px);

				}
			}
		}

		&-item{
			border-bottom: 1px solid $colorGrey;

			a{
				display: block;
				padding: 25px 20px;

				@include breakPoint($breakPoint_compact){;
					padding: 15px;
				}

				&:hover{
					background-color: rgba($colorYellow, 0.1);
				}
			}
		}




		&.is-usermenu-open .btn_ico-user{
			background: $colorYellow;

			path{
				fill: #fff;
			}
		}
	}
}

.nav{
	padding-top: $headerMobileHeight;
	height: $navMobileHeight;

	@include breakPoint($breakPoint_tablet){

	}
	@include breakPoint($breakPoint_compact){
		padding-top: $headerCompactHeight;
		height: $navCompactHeight;
	}
	@include breakPoint($breakPoint_desktop){
		padding-top: $headerDesktopHeight;
		height: $navDesktopHeight;

	}
	@include breakPoint($breakPoint_fullhd){

	}

	.inner{
		height: 100%;

		.is-menu-fixed.is-menu-open &{
			@include breakPoint(0, $breakPoint_compact){
				height: auto;
			}
		}
	}

	&__wrap{
		height: $navMobileHeight;
		background: #fff;
		z-index: 5;
		overflow: auto;
		box-shadow: 0 0 0 rgba(0,0,0,0);
		transition: box-shadow 0.3s ease;

		.is-menu-open &{
			box-shadow: 0 5px 10px rgba(0,0,0,.15);
		}

		@include breakPoint($breakPoint_compact){
			height: $navCompactHeight;
		}
		@include breakPoint($breakPoint_desktop){
			height: $navDesktopHeight;
		}

		.is-menu-fixed &{
			position: fixed;
			left: 0;
			right: 0;
			z-index: 5;
			pointer-events: none;
			transition: all 0.5s ease;
			top: -100%;

			@include breakPoint(0, $breakPoint_compact){
				height: auto;
				bottom: 100%;
			}

			@include breakPoint($breakPoint_compact){
				top: 0;
			}
			@include breakPoint($breakPoint_desktop){
				//top: $headerDesktopHeight;
			}

		}

		.is-menu-open &{
			pointer-events: all;
			top: $headerMobileHeight;

			@include breakPoint(0, $breakPoint_compact){
				bottom: 0;
			}

			@include breakPoint($breakPoint_compact){
				top: $headerCompactHeight;
			}
			@include breakPoint($breakPoint_desktop){
				top: $headerDesktopHeight;
			}
		}

		.is-menu-fixed.is-menu-open &{
		}
	}

	&__list{
		white-space: nowrap;
		display: flex;
		height: 100%;
		box-sizing: border-box;
		align-items: center;

		.is-menu-fixed &{
			@include breakPoint(0, $breakPoint_compact){
				display: block;
				white-space: normal;
			}
		}

		@include breakPoint($breakPoint_compact){
			padding-top: 17px;
			align-items: baseline;
		}
		@include breakPoint($breakPoint_desktop){
			padding-top: 20px;
		}
	}

	&__item{
		display: inline-block;
		vertical-align: middle;
		text-align: center;
		margin: 0 20px;
		font-size: 12px;
		font-weight: 500;

		@include breakPoint($breakPoint_desktop){
			font-size: 16px;
			margin: 0 25px;
		}

		.is-menu-fixed &{
			@include breakPoint(0, $breakPoint_compact){
				font-size: 18px;
			}
		}

		&:first-child{
			margin-left: 0;
		}

		&:last-child{
			margin-right: 0;

			& > *{
				@include breakPoint(0, $breakPoint_compact){
					padding-right: 20px;

					.is-menu-fixed & {
						padding-right: 0;
					}
				}
			}
		}

		.is-menu-fixed &{
			@include breakPoint(0, $breakPoint_compact){
				margin: 30px 0;
				display: flex;
				justify-content: space-between;
			}
		}

		&-link{
			display: inline-block;

			.is-menu-fixed &{
				@include breakPoint(0, $breakPoint_compact){
					text-align: left;
				}
			}

		}

		&-tag{
			display: inline-block;
			margin: 0 5px;

			@include breakPoint($breakPoint_compact){
				display: block;
				margin-top: 2px;
			}
		}

		&-detail{
			font-size: 10px;
			color: $colorGrey;

			@include breakPoint($breakPoint_compact){
				margin-top: 2px;
			}

			@include breakPoint($breakPoint_desktop){
				font-size: 16px;
			}

			.is-menu-fixed &{
				@include breakPoint(0, $breakPoint_compact){
					font-size: 14px;
					text-align: right;
				}
			}
		}

		&_devider{
			width: 1px;
			height: 20px;
			background: $colorGrey;
			margin: 0;

			.is-menu-fixed &{
				@include breakPoint(0, $breakPoint_compact){
					width: auto;
					height: 1px;
				}
			}
		}

		&_announce{
			font-weight: 300;
			color: $colorGreyText;
		}

	}

}


.footer{
	background: $colorBackgroundDark;
	color: #A2A9AF;
	padding: 20px 0;
	font-size: 12px;
	font-weight: 300;

	@include breakPoint($breakPoint_desktop){
		font-size: 13px;
	}


	.inner{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;

		@include breakPoint($breakPoint_tablet){
			flex-wrap: nowrap;
		}
	}

	&__logo{
		width: 134px;
		height: 70px;

		img{
			width: 100%;
		}
	}

	&__soc{
		white-space: nowrap;

		&-title{
			display: none;

			@include breakPoint($breakPoint_compact){
				display: inline-block;
				vertical-align: middle;
				margin-right: 20px;
			}
		}
		&-list{
			font-size: 0;
			display: inline-block;
			vertical-align: middle;
		}
		&-item{
			width: 25px;
			height: 25px;
			margin-left: 30px;
			display: inline-block;

			@include breakPoint($breakPoint_compact){
				width: 20px;
				height: 20px;
			}

			fill: $colorYellow;

			&:first-child{
				@include breakPoint($breakPoint_tablet){
					margin-left: 0;
				}
			}

			svg{
				width: 100%;
				height: 100%;
			}

			&:hover{
				fill: $colorYellowHover
			}
		}
	}

	&__text{
		line-height: (18/12);
		width: 100%;
		flex-basis: 100%;
		margin-top: 10px;

		@include breakPoint($breakPoint_tablet){
			width: 50%;
			flex-basis: 50%;
		}
	}

	a{
		color: $colorYellow;
		text-decoration: underline;
	}
}


.cart{
	background: $colorBackgroundDark;
	position: fixed;
	top: 0;
	width: 100%;
	bottom: 0;
	right: -100%;
	z-index: 100;
	transition: all 0.5s ease;

	@include breakPoint($breakPoint_compact){
		top: $headerCompactHeight;
		width: 410px;
		right: -410px;
	}

	@include breakPoint($breakPoint_desktop){
		width: 420px;
		right: -420px;
		top: $headerDesktopHeight;
	}

	.is-cart-open &{
		right: 0;
	}

	&__wrap{
		position: relative;
		height: 100%;
		display: flex;
		flex-direction: column;
		overflow: auto;
	}

	.inner{
		display: flex;
		flex-direction: column;
		flex: 1;
		padding: 30px 0;

		@include breakPoint($breakPoint_tablet){
			width: 100%;
		}

		@include breakPoint($breakPoint_compact){
			width: 350px;
		}

		@include breakPoint($breakPoint_desktop){
			width: 360px;
		}
	}

	&__close{
		width: 40px;
		height: 40px;
		background: $colorYellow;
		position: absolute;
		top: 0;
		right: 0;
		z-index: 1;
		cursor: pointer;

		@include breakPoint(0, $breakPoint_tablet){
			width: 50px;
			height: 50px;
		}

		@include breakPoint($breakPoint_compact){
			right: auto;
			left: 0;
			transition: left 0.5s ease;

			.is-cart-open &{
				left: -40px;
			}
		}

		&:before,
		&:after{
			content: '';
			width: 30px;
			height: 2px;
			background: #fff;
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			margin-top: -1px;
			margin-left: -15px;
		}

		&:before{
			transform: rotate(45deg);
		}

		&:after{
			transform: rotate(-45deg);
		}
	}

	&__title{
		font-size: 18px;
		color: $colorGrey;
		border-bottom: 1px solid $colorGrey;
		padding: 0 50px 15px 0;
		margin-bottom: 5px;

		@include breakPoint(0, $breakPoint_tablet){
			font-size: 20px;
		}

		@include breakPoint($breakPoint_desktop){
			font-size: 20px;
		}

	}
	&__list{
		flex: 1;
	}

	&__item{
		margin: 15px 0;
		display: flex;

		&-image{
			width: 68px;
			height: 45px;
			margin-right: 15px;
		}
		&-info{
			flex: 1;
		}
		&-title{
			color: #fff;
			font-size: 13px;
			margin-bottom: 3px;

			@include breakPoint(0, $breakPoint_tablet){
				font-size: 14px;
			}

			@include breakPoint($breakPoint_desktop){
				font-size: 14px;
			}
		}
		&-text{
			color: $colorGrey;
			font-size: 12px;
			margin-bottom: 3px;

			@include breakPoint(0, $breakPoint_tablet){
				font-size: 13px;
			}

			@include breakPoint($breakPoint_desktop){
				font-size: 13px;
			}
		}
		&-price{
			color: #fff;
			font-size: 13px;

			@include breakPoint(0, $breakPoint_tablet){
				font-size: 14px;
			}

			@include breakPoint($breakPoint_desktop){
				font-size: 14px;
			}
		}
		&-remove{
			width: 20px;
			height: 20px;
			position: relative;
			cursor: pointer;

			&:before,
			&:after{
				content: '';
				width: 20px;
				height: 2px;
				background: $colorGrey;
				display: block;
				position: absolute;
				top: 50%;
				left: 50%;
				margin-top: -1px;
				margin-left: -10px;
			}

			&:before{
				transform: rotate(45deg);
			}

			&:after{
				transform: rotate(-45deg);
			}
		}
	}

	&__result{
		border-top: 1px solid $colorGrey;
		padding: 15px 0 20px;
		color: #fff;

		&-info{
			display: flex;
			justify-content: space-between;
		}
		&-name{
			font-size: 13px;

			@include breakPoint(0, $breakPoint_tablet){
				font-size: 14px;
			}

			@include breakPoint($breakPoint_desktop){
				font-size: 14px;
			}
		}
		&-value{
			font-size: 18px;
			font-weight: 500;

			@include breakPoint(0, $breakPoint_tablet){
				font-size: 20px;
			}

			@include breakPoint($breakPoint_desktop){
				font-size: 20px;
			}
		}
		&-btn{
			margin-top: 16px;
			text-align: center;
			padding-bottom: 60px;

			@include breakPoint(0, $breakPoint_tablet){
				margin-top: 25px;
			}

			@include breakPoint($breakPoint_desktop){
				margin-top: 25px;
			}
		}
	}
}


.is-hidden{
	display: none !important;
}

.slick{
	&-slide{

	}

	&-list{

	}

	&-arrow{
		width: 50px;
		height: 50px;
		z-index: 1;
		position: absolute;
		top: 50%;
		margin-top: -25px;
		fill: $colorYellow;

		&:hover{
			fill: $colorYellowHover;
		}

		&_prev{
			left: 0;
		}

		&_next{
			right: 0;
		}


		&.slick-disabled{
			display: none!important;
		}
	}


	&-dots{
		font-size: 0;
		position: absolute;
		bottom: 10px;
		left: 10px;
		right: 10px;
		text-align: center;

		li{
			display: inline-block;
		}

		button{
			width: 10px;
			height: 10px;
			border-radius: 50%;
			overflow: hidden;
			background: #fff;
			margin: 0 4px;
			opacity: 0.35;
		}


		.slick-active{
			button{
				opacity: 1;
			}
		}
	}
}


[data-tab-target]{
	position: absolute;
	z-index: -1;
	pointer-events: none;

	&.is-active{
		position: static;
		z-index: auto;
		pointer-events: all;
	}
}

[data-tab-link]{
	cursor: pointer;
}


nobr{
	white-space: nowrap;
}


.img-fit{
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
}

.del{
	text-decoration: line-through;
}
