$popupZIndex: 100;
$popupOverlayColor: rgba(#dedede, 0.9) !default;

.registration-popups {
	.popup__layout {
		border-radius: 0;
	}
}

.popup {

	display: none;

	&.is-open {
		display: block !important;
	}

	&__overlay {
		background-color: $popupOverlayColor;
		display: block;
		height: 100%;
		left: 0;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: $popupZIndex;
	}

	&__inner {
		height: 100%;
		left: 0;
		overflow: auto;
		position: fixed;
		text-align: center;
		top: 0;
		width: 100%;
		z-index: $popupZIndex;
		display: block;
		background: transparent;
		overflow-y: scroll;
		font-size: 0;

		&:before {
			content: '';
			display: inline-block;
			height: 100%;
			vertical-align: middle;
		}

	}

	&__layout {
		background-color: white;
		box-sizing: border-box;
		display: inline-block;
		margin: 0 auto;
		padding: 0;
		position: relative;
		vertical-align: middle;
		width: 100%;
		max-width: 750px;
		min-height: 100px;
		text-align: left;
		font-size: 16px;
		border-radius: 8px;
	}

	&__close {
		width: 28px;
		height: 28px;
		position: absolute;
		cursor: pointer;
		top: 19px;
		right: 19px;

		&:before,
		&:after {
			content: '';
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			background: #555;
			height: 4px;
			width: 30px;
			margin-top: -2px;
			margin-left: -15px;
			border-radius: 10px;

		}
		&:before {
			transform: rotate(45deg);
		}
		&:after {
			transform: rotate(-45deg);
		}

		&:hover {

		}
	}

	&__title{
		font-size: 24px;
		margin-bottom: 20px;
		font-family: $fontTitle;

		@include breakPoint($breakPoint_tablet){
			font-size: 36px;
		}

		@include breakPoint($breakPoint_compact){
			font-size: 30px;
		}

		@include breakPoint($breakPoint_desktop){
			font-size: 36px;
		}
	}

	&__text{
		line-height: (21/14);
		font-size: 14px;
		font-weight: 300;
		color: $colorGreyText;

		@include breakPoint($breakPoint_tablet){
			font-size: 16px;
			margin-bottom: 15px;
		}

		@include breakPoint($breakPoint_compact){
			font-size: 14px;
		}

		@include breakPoint($breakPoint_desktop){
			font-size: 16px;
		}

		p{
			margin: 15px 0;
		}

		@include breakPoint($breakPoint_tablet){
			font-size: 16px;
		}
	}

	&__btn{
		margin-top: 50px;
	}

	&_info{

		//.popup__close{
		//	display: none;
		//}

		.popup__layout{
			min-height: 0;
		}
		.popup__close{

			@include breakPoint(0, $breakPoint_tablet){
				top: 10px;
				right: 15px;
				width: 42px;
				height: 42px;

				&:before,
				&:after{

					width: 18px;
					height: 2px;
					margin-top: -1px;
					margin-left: -9px;
				}
			}
		}

		.popup__content{
			padding: 60px 30px;
			text-align: center;

			&-title{

				@include breakPoint(0, $breakPoint_tablet){
					font-size: 20px;
					padding: 0;
				}
			}

			&-text{

				.btn{

					@include breakPoint(0, $breakPoint_tablet){
						padding: 0 20px;
						font-size: 18px;
						height: 42px;
						line-height: 40px;
						margin: 5px;
					}
				}
			}
		}
	}

	&_offer{

		//.popup__close{
		//	display: none;
		//}

		.popup__layout{
			margin: 30px 0;
		}
		.popup__content{
			padding: 30px 30px;

			@include breakPoint($breakPoint_tablet){
				//padding: 50px 25px;
			}
		}

		.popup__btn{
			text-align: center;
		}
	}

}
