$fontMain: 'Roboto', sans-serif;
$fontTitle: 'Lora', serif;
$breakPoint_tablet: 720px;
$breakPoint_compact: 950px;
$breakPoint_desktop: 1330px;
$breakPoint_fullhd: 1660px;


$colorBackground: #F8F8F8;
$colorBackgroundDark: #44525F;
$colorBlue: #278ef6;
$colorGreen: #639A00;
$colorYellow: #FFB600;
$colorYellowHover: #FFC840;
$colorRed: #D40000;
$colorDarkViolet: #663250;
$colorBlack: #000;
$colorGreyText: #666666;
$colorGrey: #ccc;


.c{
	&-yellow{
		color: $colorYellow !important;
	}
	&-green{
		color: $colorGreen !important;
	}
	&-blue{
		color: $colorBlue !important;
	}
	&-red{
		color: $colorRed !important;
	}
	&-white{
		color: #fff !important;
	}
}
