section.course-review
	.inner
		.course-review__text
			h3 Чему вы научитесь
			ul
				li выпекать воздушные банановые бисквиты
				li готовить компоте из клубники
				li делать сливочный крем для прослойки и крем-чиз для покрытия торта
				li готовить ганаш для декора подтеками
			p
				blockquote « В курсе делюсь своими хитростями, знакомлю с технологией приготовления и показываю технику покрытия "омбре" и декора подтеками из глазури. »
			h3 Примечания:
			ul
				li Обратная связь: ответы на все ваши вопросы относительно курса
				li Постоянный доступ к уроку в личном кабинете с любого устройства
				li Видео процесса приготовления и подробный текстовый файл с теорией
				li На 100% проработанные рецептуры