section.course-guide
	.inner
		.course-guide__title Как это работает?
		.course-guide__subtitle На курсах Алина делится авторскими рецептами, обучает всем тонкостям приготовления, начиная с подбора инвентаря, заканчивая оригинальным современным оформлением.


		.course-guide__graph.course-guide__graph_how

			.course-guide__graph-body
				.course-guide__graph-title Как это работает?

				.course-guide__graph-slider
					.course-guide__graph-slider-wrap
						.course-guide__graph-slider-inner
							.course-guide__graph-slider-item.is-active(data-slide='1')
								.course-guide__graph-slider-num 1
								.course-guide__graph-slider-title Зарегистрируйся
								.course-guide__graph-slider-text После регистрации вы сразу попадаете в «Личную кухню», где уже доступен урок.
							.course-guide__graph-slider-item(data-slide='2')
								.course-guide__graph-slider-num 2
								.course-guide__graph-slider-title Изучай уроки
								.course-guide__graph-slider-text Оплаченные уроки сохраняются в «Личной кухне» навсегда
							.course-guide__graph-slider-item(data-slide='3')
								.course-guide__graph-slider-num 3
								.course-guide__graph-slider-title Пересматривай
								.course-guide__graph-slider-text Вы можете смотреть их сколько угодно раз, в любое время

			.course-guide__graph-image
				.course-guide__graph-draw
					.course-guide__graph-draw-item.is-active(data-slide='1'): img(src='../img/guide/how-graph_1.png')
					.course-guide__graph-draw-item(data-slide='2'): img(src='../img/guide/how-graph_2.png')
					.course-guide__graph-draw-item(data-slide='3'): img(src='../img/guide/how-graph_3.png')
				.course-guide__graph-screen
					.course-guide__graph-screen-inner
						.course-guide__graph-screen-item(data-slide='1').is-active: img(src='../img/guide/how-screen_1.jpg')
						.course-guide__graph-screen-item(data-slide='2'): img(src='../img/guide/how-screen_2.jpg')
						.course-guide__graph-screen-item(data-slide='3'): img(src='../img/guide/how-screen_3.jpg')

			.course-guide__graph-slider-dots

		.course-guide__state
			.course-guide__state-title Преимущества

			.course-guide__state-slider
				.course-guide__state-slider-wrap
					.course-guide__state-slider-inner
						.course-guide__state-slider-item
							.course-guide__state-slider-num 1
							.course-guide__state-slider-title Уникальные авторские рецепты
							.course-guide__state-slider-text Широкая линейка интересных десертов
						.course-guide__state-slider-item
							.course-guide__state-slider-num 2
							.course-guide__state-slider-title Проверенная технология приготовления
							.course-guide__state-slider-text Всегда можно обратиться к шеф-кондитеру
						.course-guide__state-slider-item
							.course-guide__state-slider-num 3
							.course-guide__state-slider-title Готовый десерт с&nbsp;певого раза
							.course-guide__state-slider-text Гордость за своё исполнение
						.course-guide__state-slider-item
							.course-guide__state-slider-num.course-guide__state-slider-num_dark !
							.course-guide__state-slider-title Да, с&nbsp;первого раза!
							.course-guide__state-slider-text Следуйте инструкции и забудьте про осевшие бисквиты, пустые макаронс, неудавшийся зефир и петёкший крем.
				.course-guide__state-slider-dots

		.course-guide__graph.course-guide__graph_consist

			.course-guide__graph-body
				.course-guide__graph-title Почувствуйте себя шеф-кондитером!

				.course-guide__graph-slider
					.course-guide__graph-slider-wrap
						.course-guide__graph-slider-inner
							.course-guide__graph-slider-item.is-active(data-slide='1')
								.course-guide__graph-slider-num 1
								.course-guide__graph-slider-title Ингредиенты
								.course-guide__graph-slider-text Как выбирать продукты: пектин NH или цитрусовый, какой краситель лучше для макаронс, какой агар выбрать, чтобы все не растеклось
							.course-guide__graph-slider-item(data-slide='2')
								.course-guide__graph-slider-num 2
								.course-guide__graph-slider-title Инвентарь
								.course-guide__graph-slider-text Какие формы понадобятся, какие насадки выбрать, как подготовить инвентарь
							.course-guide__graph-slider-item(data-slide='3')
								.course-guide__graph-slider-num 3
								.course-guide__graph-slider-title Технологии
								.course-guide__graph-slider-text Какие факторы влияют на вкус и внешний вид
							.course-guide__graph-slider-item(data-slide='4')
								.course-guide__graph-slider-num 4
								.course-guide__graph-slider-title Декор
								.course-guide__graph-slider-text Вы можете смотреть их сколько угодно раз, в любое время

			.course-guide__graph-image
				.course-guide__graph-draw
					.course-guide__graph-draw-item.is-active(data-slide='1'): img(src='../img/guide/consist-graph_2.png')
					.course-guide__graph-draw-item(data-slide='2'): img(src='../img/guide/consist-graph_2.png')
					.course-guide__graph-draw-item(data-slide='3'): img(src='../img/guide/consist-graph_2.png')
					.course-guide__graph-draw-item(data-slide='4'): img(src='../img/guide/consist-graph_2.png')
				.course-guide__graph-screen
					.course-guide__graph-screen-item.is-active(data-slide='1'): img(src='../img/guide/consist-img_1.png')
					.course-guide__graph-screen-item(data-slide='2'): img(src='../img/guide/consist-img_2.png')
					.course-guide__graph-screen-item(data-slide='3'): img(src='../img/guide/consist-img_3.png')
					.course-guide__graph-screen-item(data-slide='4'): img(src='../img/guide/consist-img_4.png')

			.course-guide__graph-slider-dots

		.course-guide__state
			.course-guide__state-title.course-guide__state-title_sp Чем отличаются УРОКИ #[br]от&nbsp;просмотра роликов в&nbsp;интернете и&nbsp;чтения книг?

			.course-guide__state-slider
				.course-guide__state-slider-wrap
					.course-guide__state-slider-inner
						.course-guide__state-slider-item
							.course-guide__state-slider-num 1
							.course-guide__state-slider-title Обратная связь:
							.course-guide__state-slider-text Постоянная поддержка Шеф-кондитера
						.course-guide__state-slider-item
							.course-guide__state-slider-num 2
							.course-guide__state-slider-title Гарантия результата:
							.course-guide__state-slider-text Вы точно приготовите то, что ожидаете
						.course-guide__state-slider-item
							.course-guide__state-slider-num 3
							.course-guide__state-slider-title Уникальные десерты:
							.course-guide__state-slider-text Только авторские десерты, разработанные шеф-кондитером
						.course-guide__state-slider-item
							.course-guide__state-slider-num.course-guide__state-slider-num_dark !
							.course-guide__state-slider-list
								ul
									li Только авторские рецепты
									li Меньше сахара и масла
									li Натуральные ингредиенты
									li Ничего лишнего

				.course-guide__state-slider-dots
