section.course-detail
	.inner
		.course-detail__title Документы
		.course-detail__document
			.document
				.document__list
					.document__item
						.document__inner
							.document__type PDF
							.document__name Теория
							.document__note 600 КБ
							a(href='#', download='/').document__link
					.document__item
						.document__inner
							.document__type PDF
							.document__name Техническая карта
							.document__note 600 КБ
							a(href='#', download='/').document__link
					.document__item
						.document__inner
							.document__type DOCX
							.document__name Оферта
							.document__note 600 КБ
							a(href='#', download='/').document__link
		.course-detail__title Видео
		.course-detail__video
			.course-detail__video-item
				//-.course-detail__video-poster: +img(1080, 610, 'Постер видео', 'cccccc', 'ffffff')
				.course-detail__video-frame.
					<iframe src="https://player.vimeo.com/video/265045525" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				.course-detail__video-name Приветствие
			.course-detail__video-item
				//-.course-detail__video-poster: +img(1080, 610, 'Постер видео', 'cccccc', 'ffffff')
				.course-detail__video-frame.
					<iframe src="https://player.vimeo.com/video/222329543" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				.course-detail__video-name Подготовка инвентаря и оборудования

