section.course-about(class= pageName == 'catalog' ? 'course-about_dark' : '')
	.inner
		if ( pageName == 'catalog' )
			.course-about__title #[span.c-yellow Курс за 10 рублей:] CAKE-POPS

		.course-about__body

			.course-about__gallery
				.course-about__gallery-main
					.course-about__gallery-main-item.is-active(data-slide='1'): a.zoom(href="https://via.placeholder.com/1000x800/cccccc/ffffff?text=Картинка 1"): +img(500, 500, 'Картинка 1', 'cccccc', 'ffffff')
					.course-about__gallery-main-item(data-slide='2'): a.zoom(href="https://via.placeholder.com/1000x800/cccccc/ffffff?text=Картинка 2"): +img(500, 500, 'Картинка 2', 'cccccc', 'ffffff')
					.course-about__gallery-main-item(data-slide='3'): a.zoom(href="https://vimeo.com/1084537"): +img(500, 500, 'Видео 3', 'cccccc', 'ffffff')
					.course-about__gallery-main-item(data-slide='4'): a.zoom(href="https://via.placeholder.com/1000x800/cccccc/ffffff?text=Картинка 4"): +img(500, 500, 'Картинка 4', 'cccccc', 'ffffff')
					.course-about__gallery-main-item(data-slide='5'): a.zoom(href="https://via.placeholder.com/1000x800/cccccc/ffffff?text=Картинка 5"): +img(500, 500, 'Картинка 5', 'cccccc', 'ffffff')
				.course-about__gallery-thumb
					.course-about__gallery-thumb-slider
						.course-about__gallery-thumb-item.is-active(data-slide='1'): +img(300, 300, 'Картинка 1', 'cccccc', 'ffffff')
						.course-about__gallery-thumb-item(data-slide='2'): +img(300, 300, 'Картинка 2', 'cccccc', 'ffffff')
						.course-about__gallery-thumb-item(data-slide='3'): +img(300, 300, 'Видео 3', 'cccccc', 'ffffff')
						.course-about__gallery-thumb-item(data-slide='4'): +img(300, 300, 'Картинка 4', 'cccccc', 'ffffff')
						.course-about__gallery-thumb-item(data-slide='5'): +img(300, 300, 'Картинка 5', 'cccccc', 'ffffff')
				.course-about__gallery-dots
				.course-about__gallery-control
					.course-about__gallery-arrow.course-about__gallery-arrow_prev: include ../../img/svg/arrow-slider-right.svg
					.course-about__gallery-arrow.course-about__gallery-arrow_next: include ../../img/svg/arrow-slider-right.svg
			.course-about__info

				.course-about__ticket(class= pageName == 'product-bought' || pageName == 'product' ? 'sticky-target' : '')
					.course-about__ticket-inner(class= pageName == 'product-bought' || pageName == 'product' ? 'sticky-inner' : '')
						.ticket
							.ticket__inner
								.ticket__price 10 руб.
								hr
								.ticket__call
									.ticket__call-title 1231
									.ticket__call-note dasdasdas
									.ticket__call-hash #321321
								hr
								.ticket__action
									.ticket__btn: a.btn.btn_yellow(href='#') Добавить в корзину
									.ticket__btn: a.btn.btn_dark(href='#') Купить сейчас
									.ticket__note Гарантия возврата денег - 30 дней
								hr
								.ticket__info
									.ticket__title Этот курс включает:
									.ticket__description
										ul
											li
												i.ico: img(src='../img/svg/ticket_ico_1.svg')
												span Доступ к курсу: сразу после оплаты
											li
												i.ico: img(src='../img/svg/ticket_ico_2.svg')
												span Сложность: #[span.c-green лёгкий]
											li
												i.ico: img(src='../img/svg/ticket_ico_3.svg')
												span 100 минут видео
											li
												i.ico: img(src='../img/svg/ticket_ico_4.svg')
												span 40 страниц описания
											li
												i.ico: img(src='../img/svg/ticket_ico_5.svg')
												span Полный пожизненный доступ
											li
												i.ico: img(src='../img/svg/ticket_ico_6.svg')
												span Доступ через мобильные устройства
											li
												i.ico: img(src='../img/svg/ticket_ico_7.svg')
												span Сертификат о прохождении курса

								hr
								.ticket__action
									.ticket__note Гарантия возврата денег - 30 дней
									p: a(href='#') asdasdasd



				.course-about__description
					.course-about__description-title Автор курса:
					.course-about__description-author
						+img(100, 100, 'АМ', 'cccccc', '000000')
						span Алина Макарова
					.course-about__description-text
						p « Кейкпопсы пользуются популярностью не только у детей, но и у взрослых. Это необычное лакомство на палочке идеально для кенди-бара на любой праздник, а множество вариантов яркого декора не оставит никого равнодушным!
						p В курсе вы научитесь делать шоколадные и ванильные кейк-попсы с двумя видами крема, покроете кейкпопсы шоколадной глазурью, узнаете как добиться ровной идеальной поверхности. »
