section.course-more
	.course-more__wrap
		.inner
			.course-more__main
				.course-more__title Смотрите больше отзывов и&nbsp;работ учеников в&nbsp;Инстаграм по&nbsp;хэштегам:
				.course-more__tag
					.course-more__tag-item #кондитер_отадоя
					.course-more__tag-item #am_pastry
			.course-more__subscribe
				.course-more__subscribe-item
					.course-more__subscribe-image
						+img(200, 200, 'Фото', 'cccccc', '000000')
						.course-more__subscribe-ico: include ../../img/svg/ico_instagram.svg
					.course-more__subscribe-info
						.course-more__subscribe-title Еще больше полезностей в&nbsp;нашем #[a(href="#") Instagram]
						.course-more__subscribe-text Каждые 2 дня мы публикуем полезные идеи, фотографии и другие материалы
				.course-more__subscribe-item
					.course-more__subscribe-image
						+img(200, 200, 'Фото', 'cccccc', '000000')
						.course-more__subscribe-ico: include ../../img/svg/ico_vk.svg
					.course-more__subscribe-info
						.course-more__subscribe-title Подписывайтесь на&nbsp;нашу группу #[a(href="#") ВКонтакте]
						.course-more__subscribe-text Актуальные новости, еще какое-то описание