.registration-popups.
	<div class="popup popup_auth" id="authPopup">
	<div class="popup__overlay"></div>
	<div class="popup__inner">
	<div class="popup__layout">
	<div class="popup__close"></div>
	<div class="popup__header">
	<div class="popup__header-logo"></div>
	<div class="popup__header-text">CAKE SCHOOL</div>
	</div>
	<div class="popup__content">
	<!--div class="popup__tab">
	<div class="popup__tab-item is-active" data-tab-group="auth" data-tab-link="auth_reg">Регистрация</div>
	<div class="popup__tab-item" data-tab-group="auth" data-tab-link="auth_login">Вход</div>
	</div-->
	<div class="popup__auth is-active" data-tab-group="auth" data-tab-target="auth_reg">
	<div class="popup__auth-soc">
	<div class="popup__auth-soc-text">с помощью аккаунта в соц.сетях</div>
	<div class="popup__auth-soc-list">
	<script>
	Share = {
	vkontakte: function(purl, ptitle, pimg, text) {
	url  = 'https://vkontakte.ru/share.php?';
	url += 'url='          + encodeURIComponent(purl);
	url += '&title='       + encodeURIComponent(ptitle);
	url += '&description=' + encodeURIComponent(text);
	url += '&image='       + encodeURIComponent(pimg);
	url += '&noparse=true';
	Share.popup(url);
	},
	odnoklassniki: function(purl, text) {
	url  = 'https://www.odnoklassniki.ru/dk?st.cmd=addShare&st.s=1';
	url += '&st.comments=' + encodeURIComponent(text);
	url += '&st._surl='    + encodeURIComponent(purl);
	Share.popup(url);
	},
	facebook: function(purl, ptitle, pimg, text) {
	url  = 'https://www.facebook.com/sharer.php?s=100';
	url += '&p[title]='     + encodeURIComponent(ptitle);
	url += '&p[summary]='   + encodeURIComponent(text);
	url += '&p[url]='       + encodeURIComponent(purl);
	url += '&p[images][0]=' + encodeURIComponent(pimg);
	Share.popup(url);
	},
	popup: function(url) {
		window.open(url,'','toolbar=0,status=0,width=626,height=436');
	}
	};
	</script>
	<a href="#" onclick="BX.util.popup('https://oauth.vk.com/authorize?client_id=6238586&redirect_uri=https%3A%2F%2Falinamakarova.ru%2F%3Fauth_service_id%3DVKontakte&scope=friends,offline,email&response_type=code&state=site_id%3Ds1%26backurl%3D%252F%253Fcheck_key%253D0b271c8459fc3d6503dee90d78ec0cb9%26redirect_url%3D%252F', 660, 425)" class="popup__auth-soc-item popup__auth-soc-item_vk"></a>		<a href="#" onclick="BX.util.popup('https://www.facebook.com/dialog/oauth?client_id=1585413791770395&redirect_uri=https%3A%2F%2Falinamakarova.ru%2F%3Fauth_service_id%3DFacebook%26check_key%3D0b271c8459fc3d6503dee90d78ec0cb9%26backurl%3D%252F&scope=email,publish_actions,user_friends&display=popup', 680, 600)" class="popup__auth-soc-item popup__auth-soc-item_fb"></a>									</div>
	<div class="popup__auth-soc-text"><span class="or">или</span></div>
	</div>
	<div class="popup__auth-form">
	<form class="form form_reg" method="post" action="/login/register_new.php" data-check-url="/login/check.php" novalidate autocomplete="off">
	<input type="hidden" name="backurl" value="/" />
	<input type="hidden" name="AUTH_FORM" value="Y" />
	<input type="hidden" name="TYPE" value="REGISTRATION" />
	<div class="form__field">
	<div class="form__message"></div>
	<div class="form__input">
	<input type="email" name="login" data-require="true">
	<div class="placeholder">Адрес эл. почты</div>
	</div>
	</div>
	<div class="form__field form__field_submit">
	<div class="form__input">
	<input class="btn" type="submit" value="Войти">
	</div>
	</div>
	<div class="form__field">
	<div class="form__text">Нажимая на кнопку «Войти», вы подтверждаете свое согласие с <a href="#">условиями оферты</a></div>
	</div>
	</form>
	<form id="auth-form" name="form_auth" class="form form_pass" action="/login/login.php" method="post" novalidate autocomplete="off">
	<input type="hidden" name="remember" value="Y" />
	<input type="hidden" name="AUTH_FORM" value="Y" />
	<input type="hidden" name="TYPE" value="AUTH" />
	<input type="hidden" name="backurl" value="/" />
	<input type="hidden" name="captcha_sid" value="" />

	<div class="is-hidden">
	<input type="email" name="login">
	</div>
	<div class="form__field">
	<div class="form__text">
	Этот e-mail уже зарегистрирован. <br> Введите пароль, чтобы авторизоваться</div>
	</div>
	<div class="form__field">
	<div class="form__message"></div>
	<div class="form__input">
	<input type="password" name="password" data-require="true">
	<div class="placeholder">Пароль</div>
	</div>
	</div>
	<div class="form__field form__field_submit">
	<div class="form__input">
	<input class="btn" type="submit" value="Войти">
	</div>
	</div>
	<div class="form__field">
	<div class="form__text">
	<div class="btn btn_clean" id="restore">Восстановить пароль</div>
	</div>
	</div>
	</form>
	</div>
	</div>
	<div class="popup__auth" data-tab-group="auth" data-tab-target="auth_login">
	<div class="popup__auth-soc">
	<div class="popup__auth-soc-text">с помощью аккаунта в соц.сетях</div>
	<div class="popup__auth-soc-list"><a class="popup__auth-soc-item popup__auth-soc-item_vk" href="#"></a><a class="popup__auth-soc-item popup__auth-soc-item_fb" href="#"></a><a class="popup__auth-soc-item popup__auth-soc-item_ok" href="#"></a><a class="popup__auth-soc-item popup__auth-soc-item_gp" href="#"></a></div>
	<div class="popup__auth-soc-text"><span class="or">или</span></div>
	</div>
	<div class="popup__auth-form">
	<form class="form" action="" method="" novalidate autocomplete="off">
	<div class="form__field">
	<div class="form__message"></div>
	<div class="form__input">
	<input type="email" name="email" data-require="true">
	<div class="placeholder">Адрес эл. почты</div>
	</div>
	</div>
	<div class="form__field">
	<div class="form__message"></div>
	<div class="form__input">
	<input type="password" name="password" data-require="true">
	<div class="placeholder">Пароль</div>
	</div>
	</div>
	<div class="form__field form__field_submit">
	<div class="form__input">
	<input class="btn" type="submit" value="Войти">
	</div>
	</div>
	<div class="form__field">
	<div class="form__text">
	<div class="btn btn_clean" data-popup-open="#passRestorePopup">Восстановить пароль</div>
	</div>
	</div>
	</form>
	</div>
	</div>
	</div>
	</div>
	</div>
	</div>
	<div class="popup popup_auth" id="passRestorePopup">
	<div class="popup__overlay"></div>
	<div class="popup__inner">
	<div class="popup__layout">
	<div class="popup__close"></div>
	<div class="popup__header">
	<div class="popup__header-logo"></div>
	<div class="popup__header-text">CAKE SCHOOL</div>
	</div>
	<div class="popup__content">
	<div class="popup__auth">
	<div class="popup__auth-title">Восстановление доступа к аккаунту</div>
	<div class="popup__auth-form">
	<form class="form" action="" method="" novalidate>
	<div class="form__field">
	<div class="form__message"></div>
	<div class="form__input">
	<input type="email" name="email" data-require="true">
	<div class="placeholder">Адрес эл. почты</div>
	</div>
	</div>
	<div class="form__field form__field_submit">
	<div class="form__input">
	<input class="btn" type="submit" value="Сбросить пароль">
	</div>
	</div>
	<div class="form__field">
	<div class="form__text">
	<div class="btn btn_clean" data-popup-open="#authPopup">Отмена</div>
	</div>
	</div>
	</form>
	</div>
	</div>
	</div>
	</div>
	</div>
	</div>
	<div class="popup popup_auth" id="subscribePopup">
	<div class="popup__overlay"></div>
	<div class="popup__inner">
	<div class="popup__layout">
	<div class="popup__header">
	<div class="popup__header-logo"></div>
	<div class="popup__header-text">CAKE SCHOOL</div>
	</div>
	<div class="popup__content">
	<div class="popup__auth">
	<div class="popup__auth-title">Вебинар «Карамельно-грушевый торт»<br>Старт: 21 февраля в 19:00</div>
	<div class="popup__auth-form">
	<form class="form" method="post" action="" novalidate>
	<div class="form__field">
	<div class="form__message"></div>
	<div class="form__input">
	<input type="text" name="name" data-require="true">
	<div class="placeholder">Ваше имя</div>
	</div>
	</div>
	<div class="form__field">
	<div class="form__message"></div>
	<div class="form__input">
	<input type="email" name="email" data-require="true">
	<div class="placeholder">Адрес эл. почты</div>
	</div>
	</div>
	<div class="form__field form__field_submit">
	<div class="form__input">
	<input class="btn" type="submit" value="Смотреть">
	</div>
	</div>
	</form>
	</div>
	</div>
	</div>
	</div>
	</div>
	</div>

