@import "sprites/sprite";
@import "scss/var";
@import "scss/mixins";

$breakPointMob: 1000px;
$breakPointDesk1: 1000px;
$breakPointDesk3: 1720px;


.conditer{

	margin: 0 auto;
	max-width: 400px;
	padding: 0 20px;



	@include breakPoint($breakPointMob){
		max-width: 100%;
	}


	.btn{
		font-size: 16px;
		display: inline-block;
		cursor: pointer;
		font-family: $fontMain;

		@include box-sizing();
		@include border-radius(100px);

		background-color: $colorYellow;
		border: 1px solid $colorYellow;
		text-align: center;
		color: #fff;
		padding: 11px 15px 13px;
		font-weight: 400;

		@include breakPoint($breakPointMob){
			font-size: 24px;
			padding: 19px 30px 21px;
		}

		@include breakPoint($breakPointTab1){
			font-size: 20px;
			padding: 14px 20px 16px;
		}

		@include breakPoint($breakPointDesk1){
			font-size: 15px;
			padding: 12px 35px 13px;
		}

		&:hover{
			background-color: $colorYellowHover;
			border: 1px solid $colorYellowHover;
		}

		&_border{
			background-color: transparent;
			color: $colorYellow;

			&:hover{
				background-color: transparent;
				color: $colorYellowHover;
			}
		}

		&_clean{
			background: transparent;
			border-color: transparent;
			color: $colorGrey;

			&:hover{
				background: transparent;
				border-color: transparent;
				color: $colorBlack;
			}
		}

		&_violet{
			color: #fff;
			background: $colorViolet;
			border-color: $colorViolet;
		}

		&_disable{
			color: #fff !important;;
			background: #ccc !important;
			border-color: #ccc !important;;
			cursor: no-drop;
		}
	}

	@import "scss/fonts";
	@import "scss/normalize";
	@import "scss/form";
	@import "scss/popup";
}


.select2{

	&-hidden-accessible{
		opacity: 0;
		position: absolute;
		pointer-events: none;
	}

	&-container{
		user-select: none;
		z-index: 2;

		.form__input &{
			height: 100%;
			display: block;

			&:focus{
			}
		}
	}


	&-search{
		display: none;
	}

	&-dropdown{
		background: rgba(#fff, .80);
		border: 1px solid $colorYellow;
		margin-top: -1px;
		margin-left: -1px;
		font-size: 14px;
		display: block;
		backdrop-filter: blur(3px);
	}


	&-results{
		display: block;



		&__options{
			padding: 10px 0;
			display: block;
			max-height: 200px;
			overflow: auto;


		}

		&__option{
			padding: 5px 10px;
			cursor: pointer;


			&[aria-disabled=true]{
				display: none;
			}

			&[aria-selected=true],
			&:hover{
				color: $colorYellow;
			}
		}
	}

	.selection{
		display: block;
		height: 100%;
	}

}